<!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
<app-tutor-header></app-tutor-header>
<div class="mainbg">
<div class="fluid-container">
    <div class="signinTitle">

        <h1>Create <strong><b>Account</b></strong></h1>

    </div>
    <div class="row signinheight">

        <div class="col-md-12 col-sm-12 ">
            <div class="container">





                <div class="form-group signin">
                   

       <div class="row">

                        <div class="col-md-12">
                        
                            <div class="whoCanBook">
                                <p>Account Type</p>
                            </div>

                            <select class="form-select selectoptionicon6">
                                <option>10</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">Recipient’s Name </p>
                            </div>

                            <div class="input-group">

                                <input class="form-control" id="Recipient’s" name="name" type="text"
                                    placeholder="Recipient’s Name" />

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">Account Number </p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Alias" name="name" type="number"
                                    placeholder="Account Number" />

                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">Bank Name </p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="bank" name="name" type="text"
                                    placeholder="Bank Name" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">Bank Address </p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Bank-Address" name="name" type="text"
                                    placeholder="Bank Address " />

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">Worldwide Interbank Financial Telecommunication </p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Alias" name="name" type="number"
                                    placeholder="Enter Code" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">International Bank Account Number</p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Alias" name="name" type="text"
                                    placeholder="Enter Code" />

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">UK Bank Code</p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Alias" name="name" type="number"
                                    placeholder="Enter Code" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">IAmerican Banker Association Number</p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Alias" name="name" type="text"
                                    placeholder="Enter Code" />

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">Indian Financial System Code</p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Alias" name="name" type="number"
                                    placeholder="Enter Code" />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputlabels">
                                <p class="inputTitle">Any Other Local Bank Code</p>
                            </div>
                            <div class="input-group">

                                <input class="form-control" id="Alias" name="name" type="text"
                                    placeholder="Enter Code" />

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-10"></div>
                        <div class="col-md-1"><img src="../../../assets/close-button.png" style="margin-left: -19%;"></div>
                        <div class="col-md-1"><img src="../../../assets/submit-btn.png"></div>
                    </div>
                   
             
<!-- 

                    <div class="row">

                        <div class="col-md-12">
                            <input type="file" ng2FileSelect [uploader]="uploader">
                            <div class="progess">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{width:uploader.progress}" >
                                </div>

                                <ul *ngFor="let item of uploader.queue">
<li>{{item.file.name}}
<button type="button" (click)="item.upload()" class="btn btn-primary btn-xs">Upload</button>
<button type="button" (click)="item.remove()" class="btn btn-primary btn-xs">Remove</button>
                                </ul>
                            </div>

                        </div>

                    </div> -->


                </div>

            </div>
            </div>