<app-header></app-header>
<div class="lesson-informations">
<div class="containers">
    <div class="page-Title">
        <h1>Lesson <span style="font-weight: 700;">Information</span></h1>
    </div>
    <div class="all-rowss">
        <div class="details-row ">
            <div class="row details-rows row1">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img1" src="../../../assets/icon-profile.png"> Tutor Name:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>Jonas Hump</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img2" src="../../../assets/subjectgroupclass-icon.png"> Subject/Group Class:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>Digital Marketing</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img3" src="../../../assets/class-lesson-category.png"> Class Category:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>Marketing</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img4" src="../../../assets/lesson-category-topic.png"> Topic:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>Complete Digital Marketing Guide</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img5" src="../../../assets/lesson-type-information.png"> Lesson Type:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <button class="paid-lesson">Paid Lesson</button>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img6" src="../../../assets/lesson-clock-icon.png"> Start Time:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>08/19/21, 07:30 AM</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img7" src="../../../assets/lesson-clock-icon.png"> End Time:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>08/19/21, 08:30 AM</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img8" src="../../../assets/lesson-dollar-symbol.png"> Price:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>$99</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img9" src="../../../assets/lessson-payment-icon.png"> Payment Type:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <button class="paid">Paid </button>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img10" src="../../../assets/lesson-status-icon.png">Status:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <button class="didnot-start">Didn't Start </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- ...........................File Upload ................ -->
    <div class="page-Title">
        <h1>Lesson <span style="font-weight: 700;">Material</span></h1>
    </div>

    <div class="Upload-file-data">
        <div class="row">
            <div class="col-md-6">
                <div class="verified-title">
                    <p>Upload verified documents <span>(Maximum Size: 1024 mb)</span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="verified-title right-rows">
                    <p>John Deo.text <img src="../../../assets/download-icon.png"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 upload-files">
                <img src="../../../assets/upload-file.png">
             </div>

             <div class="col-md-12 upload-files-btn">
<button>Upload </button>
             </div>
            </div>

    </div>







    <!-- ..........................Testimonial Review.............................. -->

    <div class="container review-Container">
        <div class="client-Review">
            <h2>Tutor Rating & <span style="font-weight: 700;">Reviews </span></h2>
        </div>
        <div class="rating_Star">
            <img src="../../../assets/ratingstar.png">
            <p>1 Review</p>
        </div>

        <div class="row detail-reviews">
            <div class="col-md-1">
                <img src="../../../assets/rating_profile.png">
            </div>
            <div class="col-md-11">
                <h2 class="client-Name">Eva <span style="font-weight: 700; font-size: 12px;">Sophia</span></h2>
            </div>

            <div class="review-Description">
                <p>‘’lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet consectetur
                    adipiscing elit.<br>
                    orem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet consectetur
                    adipiscing elit.<br>
                    orem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet consectetur
                    adipiscing elit.’’</p>
            </div>
            <div class="row">

                <div class="col-md-2">
                    <div class="rating_Star">
                        <img src="../../../assets/ratingstar.png">
                    </div>


                </div>

                <div class="col-md-10">
                    <div class="review-post-Date">
                        <p>Posted On:27th Jan 2023</p>
                    </div>

                </div>
            </div>
        </div>



    </div>

</div>
</div>