<app-tutor-header></app-tutor-header>
<div class="lesson-informations">
  <div class="containers">
      <div class="main-request-detail">
      <div class="row">

          <div class="col-md-6">
      <div class="page-Title">
          <h1>Request  <span style="font-weight: 700;">Details</span></h1>
      </div>
      </div>
      <div class="col-md-6 closeicon">
          <img src="../../assets/close-page-icon.png">
      </div>
      <div class="all-rowss">
          <div class="details-row ">
              <div class="row details-rows row1">
                  <div class="col-md-3">
                      <div class="lesson-title">
                          <h2><img class="img1" src="../../assets/icon-profile.png"> Tutor Name:</h2>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="lesson-title_name">
                          <p>Jonas Hump</p>
                      </div>
                  </div>
                  <div class="row borders-line">
                      <div class="line">
                          <img src="../../assets/lesson-border-bottom.png">
                      </div>
                  </div>
              </div>
  
          </div>
  
   
          <div class="details-row">
              <div class="row details-rows row2">
                  <div class="col-md-3">
                      <div class="lesson-title">
                          <h2><img class="img4" src="../../assets/subjectgroupclass-icon.png"> Subject</h2>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="lesson-title_name">
                          <p>Digital Marketing</p>
                      </div>
                  </div>
                  <div class="row borders-line">
                      <div class="line">
                          <img src="../../assets/lesson-border-bottom.png">
                      </div>
                  </div>
              </div>
  
          </div>
          <div class="details-row">
              <div class="row details-rows row2">
                  <div class="col-md-3">
                      <div class="lesson-title">
                          <h2><img class="img10" src="../../assets/lesson-status-icon.png">Request Status:</h2>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="lesson-title_name">
                          <button class="paid">Approved </button>
                      </div>

                  </div>
                  <div class="row borders-line">
                      <div class="line">
                          <img src="../../assets/lesson-border-bottom.png">
                      </div>
                  </div>
  
              </div>
  
          </div>
   
          <div class="details-row">
              <div class="row details-rows row2">
                  <div class="col-md-3">
                      <div class="lesson-title">
                          <h2><img class="img8" src="../../assets/lesson-dollar-symbol.png"> Amount Required:</h2>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="lesson-title_name">
                          <p>$99</p>
                      </div>
                  </div>
                  <div class="row borders-line">
                      <div class="line">
                          <img src="../../assets/lesson-border-bottom.png">
                      </div>
                  </div>
              </div>
  
          </div>
          <div class="details-row">
              <div class="row details-rows row2">
                  <div class="col-md-3">
                      <div class="lesson-title">
                          <h2><img class="img7" src="../../assets/reason-Icon.png"> Reason:</h2>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="lesson-title_name">
                          <p>“Cancelling the class”</p>
                      </div>
                  </div>

              </div>
  
          </div>
      
  
  
     
      </div>
  
  
  
  </div>
  
  </div>
  </div>