<app-header></app-header>
<div class="lesson-group-class">
  <div class="container">

  


    <div class="row searching-option">
        <div class="col-md-2 input-searchbar">
            <select class="form-select selectoptionicon">
                <option class="selectitems">Show Entries</option>
                <option class="selectitems">2</option>
                <option class="selectitems">3</option>
                <option class="selectitems">4</option>
              </select>
        
          </div>
         
          
          <div class="col-md-2">
            </div>
      
        <div class="col-md-4 inputitems">
    
            <div class="input-group mb-3">
           
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                  placeholder="Search Here">
              </div>
    
          </div>
    
  
      <div class="col-md-2">
        <select class="form-select selectoptionicon">
            <option class="selectitems">Category</option>
            <option class="selectitems">2</option>
            <option class="selectitems">3</option>
            <option class="selectitems">4</option>
          </select>
      </div>
    
  
      <div class="col-md-1">
        <div class="searchbtn">
          <button><img src="../../../assets/filter-search.png">Filter</button>
        </div>
      </div>
 
    </div>


    <div class="row" >
      <div class="col-md-12">
      </div>
      <table id="dtBasicExample" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm-mycourse">Course Name <img src="../../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Paid/Free<img src="../../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Categories<img src="../../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm"> Created on<img src="../../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Progress <img src="../../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Action<img src="../../../assets/up-down-arrow.png">
            </th>
           
          </tr>
        </thead>
        <tbody class="inner-details">
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="text-details-mycourse profileicon">Music Production From Beginner to Pro Master without any previous knowledge with this easy-to-follow <br>course</td>
            <td class="text-details"><button disabled>Paid Course</button></td>
            <td class="text-details">Qaida Dance</td>
            <td class="text-details-Model">19/08/2021, 08:30AM</td>
            <td class="text-details-pending"><button disabled>50%</button></td>
            <td class="text-details"><img src="../../../assets/eye-table-icon.png" routerLink="/Coursesye"></td>
          </tr>
          <tr>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            <td class="last-row"></td>
            </tr>

        </tbody>

      </table>
    </div>

    

    <div class="row buttons-row">
      <div class="col-md-8">
        <div class="entries-details">
          <p>1 to 15 of 430 entries</p>
        </div>
      </div>
      <div class="col-md-4">

        <div class="row">
          <div class="col-md-3 previousbtn">
            <button class="pg-previous-btn">Previous</button>
          </div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">2</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">3</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">4</button></div>
          <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
        </div>


      </div>
    </div>
  </div>
</div>






