<div class="fluid-container">
  <div class="row signinheight">
    <div class="col-md-4 signinleft">
    </div>
    <div class="col-md-8 col-sm-12 signin">
      <div class="container">
        <div class="signinTitle">

          <h1>Sign <strong>In</strong></h1>
          <p>Already have an account?<span><a style="color:#343F75;font-weight:700;text-decoration: none;"
                routerLink="/"> Sign In</a></span></p>
        </div>

        <form>


          <div class="form-group ">

            <div class="input-group">

              <select class="form-select selectoptionicon">
                <option class="selectitems" value="-12:00">Select timezone</option>
                <option value="Etc/GMT+12">(GMT-12:00) International Date Line West</option>
                <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
                <option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
                <option value="US/Alaska">(GMT-09:00) Alaska</option>
                <option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
                <option value="America/Tijuana">(GMT-08:00) Tijuana, Baja California</option>
                <option value="US/Arizona">(GMT-07:00) Arizona</option>
                <option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                <option value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)</option>
                <option value="America/Managua">(GMT-06:00) Central America</option>
                <option value="US/Central">(GMT-06:00) Central Time (US & Canada)</option>
                <option value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                <option value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
                <option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                <option value="US/Eastern">(GMT-05:00) Eastern Time (US & Canada)</option>
                <option value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
                <option value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)</option>
                <option value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
                <option value="America/Manaus">(GMT-04:00) Manaus</option>
                <option value="America/Santiago">(GMT-04:00) Santiago</option>
                <option value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
                <option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
                <option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires, Georgetown</option>
                <option value="America/Godthab">(GMT-03:00) Greenland</option>
                <option value="America/Montevideo">(GMT-03:00) Montevideo</option>
                <option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
                <option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
                <option value="Atlantic/Azores">(GMT-01:00) Azores</option>
                <option value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                <option value="Etc/Greenwich">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London
                </option>
                <option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                <option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                <option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                <option value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                <option value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
                <option value="Asia/Amman">(GMT+02:00) Amman</option>
                <option value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                <option value="Asia/Beirut">(GMT+02:00) Beirut</option>
                <option value="Africa/Cairo">(GMT+02:00) Cairo</option>
                <option value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
                <option value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                <option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
                <option value="Europe/Minsk">(GMT+02:00) Minsk</option>
                <option value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
                <option value="Asia/Kuwait">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                <option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                <option value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
                <option value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
                <option value="Asia/Tehran">(GMT+03:30) Tehran</option>
                <option value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
                <option value="Asia/Baku">(GMT+04:00) Baku</option>
                <option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
                <option value="Asia/Kabul">(GMT+04:30) Kabul</option>
                <option value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
                <option value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                <option value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                <option value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
                <option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
                <option value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
                <option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
                <option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
                <option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                <option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
                <option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                <option value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore</option>
                <option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                <option value="Australia/Perth">(GMT+08:00) Perth</option>
                <option value="Asia/Taipei">(GMT+08:00) Taipei</option>
                <option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                <option value="Asia/Seoul">(GMT+09:00) Seoul</option>
                <option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
                <option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
                <option value="Australia/Darwin">(GMT+09:30) Darwin</option>
                <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
                <option value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
                <option value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
                <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
                <option value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
                <option value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                <option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
              </select>

            </div>
            <div class="input-group">

              <input class="form-control" [(ngModel)]=username id="name" name="name" type="text"
                placeholder="Enter your name" />

            </div>

            <div class="input-group">

              <input class="form-control" [(ngModel)]=email id="email" name="email" type="email"
                placeholder="Enter your email" />

            </div>
            <p class="afterpassword"> We’ll never share your email with anyone else.</p>
            <div class="input-group">

              <input class="form-control" [(ngModel)]=password id="password" name="password" type="password"
                placeholder="Password" />

            </div>

            <div class="input-group">

              <input class="form-control" [(ngModel)]=ConfirmPassword id="password" name="password" type="password"
                placeholder="Confirm Password" />

            </div>

            <p class="afterpassword">Confirm Password Use 8 or more characters with a mix of letters, numbers & symbols
            </p>
            <!-- from device tutor registration -->
            <div class="device-info" *ngIf="tutorInfo">

          
              <div class="upload-data">
                <p>Upload Your Introductory Video </p>
              </div>
              <div class="row">
                <div class="col-md-4">

                  <label class="checkbox">
                    <input type="radio" name="videotype" value="upload" class="ng-valid ng-dirty ng-touched" (click)="fromDevice()">
                    <span class="checkmark">From Device</span>

                  </label>

                </div>
                <div class="col-md-5">


                  <label class="checkbox">
                    <input type="radio" name="videotype" value="upload" class="ng-valid ng-dirty ng-touched" (click)="fromYoutube()">
                    <span class="checkmark">From Youtube</span>

                  </label>

                </div>
              </div>
              <div class="youtubeid_Input"*ngIf="youtubeid">
              <div class="input-group" >

                <input class="form-control" [(ngModel)]=ConfirmPassword id="youtubeId"name="youtubeId" type="text"
                  placeholder="Enter Your YouTube ID Here" /></div>
                  <div class="need-help">
  <p><a style="color: #343F75;" href="https://support.google.com/youtube/answer/112085?hl=en">Need Help?</a></p>
  </div></div>
              
              <div class="upload-data" >
                <p>Upload Verified Documents <span class="maxsize">(Maximum Size 1024 MB)</span> </p>
              </div>
              <div class="upload-document">
                <!-- <input hidden id="actual-btn"/>  
  <label for="actual-btn">Choose File</label> -->
                <img src="../../assets/uploadfile-tutor.png" style="width:100%">
                <p>Upload mp4 file, webm file, 3gp file, ogg file, wmv file or webm file for your video
                </p>

              </div>
              <div class="upload-data">
                <p>Upload Verified Documents <span class="maxsize">(Maximum Size 1024 MB)</span> </p>
              </div>
              <div class="upload-document">
                <!-- <input hidden id="actual-btn"/>  
  <label for="actual-btn">Choose File</label> -->
                <img src="../../assets/uploadfile-tutor.png" style="width:100%">
                <p>Upload mp4 file, webm file, 3gp file, ogg file, wmv file or webm file for your video
                </p>

              </div>
              <div class="upload-data">
                <p>Upload Verified Documents <span class="maxsize">(Maximum Size 1024 MB)</span> </p>
              </div>
              <div class="upload-document">
                <!-- <input hidden id="actual-btn"/>  
  <label for="actual-btn">Choose File</label> -->
                <img src="../../assets/uploadfile-tutor.png" style="width:100%">
                <p>Upload mp4 file, webm file, 3gp file, ogg file, wmv file or webm file for your video
                </p>

              </div>



            </div>

            <div class="input-group">

              <div class="afterconfirmpass">
                <h1>I am:</h1>
                <div class="row optionbtn">
                  <div class="col-md-6">
                    <button (click)="Studenttype('student')" class="btn stdbtn">Student</button>
                  </div>
                  <div class="col-md-6">
                    <button (click)="Tutortype('tutor')" class="btn tutbtn">Tutor</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-check agree">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                  <label class="form-check-label" for="flexCheckIndeterminate">
                    I agree to the terms & conditions and have read the privacy policy.
                  </label>
                </div>
              </div>

            </div>
            <button (click)="Registration()" class="signinBtn">Sign Up</button>
          </div>


          <div class="row ">
            <div class="col-md-12">
              <div class="lines"></div>

            </div>

          </div>
          <div class="row addon">
            <div class="col-md-4 ">
              <!--   <button class="btn btn1">Continue with Facebook</button> -->
              <img class="fb" src="../../assets/Facbook-signin.png">
            </div>
            <div class="col-md-4">
              <!--     <button class="btn btn2">Continue with Google</button> -->
              <img class="fb" src="../../assets/SignIn-Google.png">

            </div>
            <div class="col-md-4">
              <!-- <button class="btn btn3">Continue with Apple</button> -->
              <img class="fb" src="../../assets/Signin-Apple.png">
            </div>

          </div>


        </form>
      </div>
    </div>
  </div>

</div>