<app-tutor-header></app-tutor-header>
<div class="group-class-bg">
    <div class="container first-section">


        <div class="row after-img">

            <div class="col-md-5 ">

                <div class="Group-class-profile-Image">
                    <img src="../../assets/group-Class-Profile.png">
                </div>

            </div>
            <div class="col-md-7">
                <div class="group-Title">
                    <h1>Title <span style="font-weight: 700;">Here</span></h1>
                </div>
                <div class="Bussiness">
                    <p>Bussiness</p>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-2">
                                <img src="../../assets/left-group-profile.png">
                            </div>
                            <div class="col-md-6">
                                <div class="left-profile-name">
                                    <h2>John <span style="font-weight: 700;">Doe</span></h2>
                                </div>
                                <p>English</p>
                            </div>
                        </div>


                        <div class="rating_Start">
                            <img src="../../assets/ratingstar.png"><span
                                style="color: #6C757D; font-size: 10px;padding-left:2%;">5(1)</span>
                        </div>

                        <div class="price-Per-hour">
                            <h2><span style="font-weight: 700;">$50</span>/Hr</h2>
                        </div>


                    </div>
                    <div class="col-md-6">



                        <div class="row right-row">
                            <div class="col-md-1">
                                <img src="../../assets/fav-group-class.png">
                            </div>
                            <div class="col-md-6">
                                <div class="right-profile-details">
                                    <h2>140 Participants </h2>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <img src="../../assets/verified.png">
                            </div>
                            <div class="col-md-6">
                                <div class="right-profile-details">
                                    <h2>Completed by 67 Learners </h2>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-1">
                                <img src="../../assets/clock.png">
                            </div>
                            <div class="col-md-6">
                                <div class="right-profile-details">
                                    <h2>30 Slots left </h2>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row Group-button">
                    <!--         <div class="col-md-12">
                    <ul class="details-btn">
                        <li> <button class="Group-tutors-Button1"><img src="../../assets/group-class-booking-yellow.png">Book Now</button></li>
                        <li> <button class="Group-tutors-Button2"><img src="../../assets/group-class-booking-yellow.png">Gift Group Class</button></li>
                        <li> <button class="Group-tutors-Button3">Purchase</button></li>
                    </ul>

</div> -->
                    <div class="col-md-4">
                        <button class="Group-tutors-Button1"><img src="../../assets/group-class-booking-yellow.png">Book
                            Now</button>
                    </div>
                    <div class="col-md-5">
                        <button class="Group-tutors-Button2"><img src="../../assets/Gift-group-class-yellow.png">Gift
                            Group Class</button>

                    </div>
                    <div class="col-md-3">
                        <button class="Group-tutors-Button3">Purchase</button>

                    </div>
                </div>
            </div>


        </div>
    </div>


    <!-- ...................................TimeSlots................................................ -->
    <div class="container time-slots-container">

        <div class="time-slots ">
            <h1>Time <span style="font-weight: 700;">Slots</span></h1>
        </div>
        <div class="row all-slots-row">

            <div class="col-md-5 column-left">

                <div class="row down-row">
                    <div class="col-md-6">
                        <div class="time-date">
                            <p>01/10/2021, 4:30AM - 5:30AM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="expired-Btn">Expired Slots</button>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="time-date">
                            <p>01/10/2021, 4:30AM - 5:30AM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="expired-Btn">Expired Slots</button>
                    </div>
                </div>

            </div>
            <div class="col-md-2 ">

            </div>
            <div class="col-md-5 column-right">

                <div class="row down-row">
                    <div class="col-md-8">
                        <div class="time-date">
                            <p>01/10/2021, 4:30AM - 5:30AM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="expired-Btn">Expired Slots</button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="time-date">
                            <p>01/10/2021, 4:30AM - 5:30AM
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="expired-Btn">Expired Slots</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="Readmore">
            <p>Read More...</p>
        </div>

    </div>



    <!-- ...............................description Container......................... -->

    <div class="container description-container">
        <div class="description_title">

            <h2>Description</h2>
            <p>lorem ipsum dolor sit amet, consectetur lorem ipsum<br>
                dolor sit amet, consectetur adipiscing elit adipiscing elit lorem ipsum dolor sit amet, consectetur
                adipiscing elit. donec ac faucibus erat, sit amet tempus tortor. nunc vulputate, orci vel pharetra
                sodales, orci lorem ornare<br> tortor, non vestibulum

                <br><br> <br>
                nunc magna a orci. aliquam ac felis nec libero semper malesuada in eget erat. nulla vel nunc
                consectetur, placerat arcu in, ornare est. fusce nec suscipit sem, at efficitur nulla. lorem ipsum dolor
                sit amet, consectetur lorem ipsum<br>
                dolor sit amet, consectetur adipiscing elit adipiscing elit lorem ipsum dolor sit amet,


            </p>
        </div>
    </div>

    <!-- ...............................Group Class Detail CV Container......................... -->

    <div class=" container">
        <div class="cv-container">
            <div class="cv-bg">

                <div class=" about-container ">

                    <div class="cv-img">
                        <img src="../../assets/group-profile-detail-cv.png">
                    </div>
                    <div class="cv-title">
                        <h2>John <span style="font-weight: 700;">Doe</span><span><img
                                    src="../../assets/group-details-verified-green-icon.png"></span></h2>
                        <p>United Kingdom</p>
                    </div>

                    <div class="about">
                        <img src="../../assets/cv-style-.png">
                    </div>

                    <div class="cv_Description">
                        <p>lorem ipsum dolor sit amet, consectetur lorem ipsum<br>
                            dolor sit amet, consectetur adipiscing elit adipiscing elit lorem ipsum dolor<br> sit amet,
                            consectetur adipiscing elit. donec ac faucibus erat, sit amet tempus <br>tortor. nunc
                            vulputate, orci vel pharetra sodales, orci lorem ornare tortor,<br> non vestibulum
                            <br><br><br>

                            nunc magna a orci. aliquam ac felis nec libero semper malesuada in eget<br> erat. nulla vel
                            nunc consectetur, placerat arcu in, ornare est. fusce nec <br>suscipit sem, at efficitur
                            nulla. lorem ipsum dolor sit amet, consectetur <br>lorem ipsum<br>
                            dolor sit amet, consectetur adipiscing elit adipiscing elit lorem ipsum dolor<br> sit amet,


                        </p>
                    </div>
                    <div class="cv_Readmore">
                        <p>Read More...</p>
                    </div>





<div class="review-slider">

<div class="title-slider">
    <img src="../../assets/Tutor's-Rating-Reviews.png">
</div>
<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
  
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
         
            <div class="container testionial-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial-title">
                            <h2>Eva <span style="font-weight: 700;">Sophia</span></h2>
                        </div>
                    </div>
                    <div class="col-md-6 image-testimonial">
                        <img src="../../assets/Testimonial-image.png">
                    </div>
                    <div class="col-md-12">
                        <div class="reviews-description">
                            <p>‘’Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit. lorem ipsum dolor sit amet
                                 consectetur adipiscing elit.’’</p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="reviews-description">
                         <img src="../../assets/single-line.png"> 

                        </div>
                    </div>
                
                    <div class="col-md-5">
                        <div class="testimonial-title">
                            <h2>Eva <span style="font-weight: 600;">Sophia</span></h2>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="rating_Start1">
                            <img src="../../assets/ratingstar.png"><span
                                style="color: #6C757D; font-size: 10px;padding-left:2%;">5(1)</span>
                        </div>
                    
</div>
                </div>
                </div>

        </div>
        <div class="item ">
         
            <div class="container testionial-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial-title">
                            <h2>Eva <span style="font-weight: 700;">Sophia</span></h2>
                        </div>
                    </div>
                    <div class="col-md-6 image-testimonial">
                        <img src="../../assets/Testimonial-image.png">
                    </div>
                    <div class="col-md-12">
                        <div class="reviews-description">
                            <p>‘’Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit. lorem ipsum dolor sit amet
                                 consectetur adipiscing elit.’’</p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="reviews-description">
                         <img src="../../assets/single-line.png"> 

                        </div>
                    </div>
                
                    <div class="col-md-5">
                        <div class="testimonial-title">
                            <h2>Eva <span style="font-weight: 600;">Sophia</span></h2>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="rating_Start1">
                            <img src="../../assets/ratingstar.png"><span
                                style="color: #6C757D; font-size: 10px;padding-left:2%;">5(1)</span>
                        </div>
                    
</div>
                </div>
                </div>

        </div>
  
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="">
            <img  class="left-slider-icon"src="../../assets/left-arrow-icon.png">
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="">
            <img  class="right-slider-icon" src="../../assets/arrow-right-icon.png">
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  


</div>

                </div>

            </div>
        </div>
    </div>



</div>