.group-class-bg
{
    background: url('../../../assets/group-details-bg.png')no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 16%;
}
.first-section {
    background: #fffdf0;
    box-shadow: 0 4px 14px -7px;
    border-radius: 5px;
    margin-top: 4%;
    padding-bottom: 4%;
    padding-top: 3%;
}
.Group-class-profile-Image {
    text-align: center;
}
.group-Title {
    margin-top: 5%;
}
.group-Title h1 {
    font-size: 20px;
    font-weight: 300;
    color: #343F75;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-profile-name h2 {
    font-size: 18px;
    color: #343F75;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left-profile-name {
    margin-top: 10%;
}
.left-profile-name p {
    font-size: 8px;
    color: #343F75;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Bussiness {
    margin-top: 5%;
    padding: 5px 6% 1% 1.4%;
    background: url('../../../assets/grouptutorbtn.png')no-repeat;
}
.Bussiness p {
    font-size: 8px;
    color: #fff;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.price-Per-hour h2 {
    color: #E09A1B;
    font-size: 20px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.right-profile-details h2 {
    font-size: 12px;
    color: #6C757D;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Group-button {
    padding-right: 9%;
}
.Group-tutors-Button1 {
    background-color: transparent;
    border: 2px solid #E09A1B;
    color: #E09A1B;
    font-size: 18px;
    font-weight: 500;
    padding-top: 7%;
    padding-bottom: 5%;
    border-radius: 5px;
    width: 90%;
    padding-left: 1%;

}

.Group-tutors-Button2 {
    background-color: transparent;
    border: 2px solid #E09A1B;
    color: #E09A1B;
    font-size: 18px;
    font-weight: 500;
    padding-top: 6%;
    padding-bottom: 4%;
    border-radius: 5px;
    width: 90%;
    margin-left: -8%;
}

.Group-tutors-Button3 {
    background-color: transparent;
    border: 2px solid #E09A1B;
    color: #E09A1B;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10%;
    padding-bottom: 7%;
    border-radius: 5px;
    width: 100%;
    margin-left: -31%;

}
.Group-tutors-Button1 img {
    padding-right: 4%;
    margin-top: -4%;

}
.Group-tutors-Button2 img {
    padding-right: 4%;
    margin-top: -1%;

}
.details-btn {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
}

.rating_Start {
    margin-top: 3%;
    margin-bottom: 7%;
}
.price-Per-hour {
    margin-bottom: 6%;
}
.right-profile-details {
    margin-bottom: 14%;
    margin-top: 2%;
}
.right-row {
    margin-top: 2%;
}

/* ................................................time Slots Section CSS......................................... */

.time-slots-container {
    background: #fffdf0;
    box-shadow: 0 4px 14px -7px;
    border-radius: 5px;
    margin-top: 1.5%;
}
.time-slots {
    padding-left: 4.8%;
    padding-top: 3%;
    padding-bottom: 1%;
}
.time-slots h1 {
    font-size: 18px;
    font-weight: 300;
    color: #343F75;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.time-date p {
    font-size: 16px;
    font-weight: 400;
    color: #6C757D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.expired-Btn {
    border: none;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #BCBCBC;
    width: 110px;
    margin-top: 1%;
    padding: 1% 2% 2% 1%;
}
.column-right {
    padding-left: 4%;
}

.time-date {
    text-align: right;
}
.down-row
{  
    margin-bottom: 2%;
}
.Readmore p
{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #E09A1B;
    font-weight: 400;
    padding-left: 4.7%;
    padding-top: 1%;
    padding-bottom: 2.5%;
}
.all-slots-row
{
    padding-left: 2%;
    padding-right: 2%;
}
/* .....................................Description Container Css */
.description-container
{
    background: #fffdf0;
    box-shadow: 0 4px 14px -7px;
    border-radius: 5px;
    margin-top: 2.4%;
    padding: 3% 3% 3% 3%;
}

.description_title h2
{
    font-size: 16px;
    color: #343F75;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-bottom: 1.5%;
}
.description_title p
{
    font-size: 10px;
    color: #6C757D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}



/* ....................................cv...................................... */
.cv-title h2
{
    font-weight: 300;
    font-size:18px;
    color:#E09A1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cv-title p
{
    font-weight: 400;
    font-size:10px;
    color:#E09A1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -2%;
}
.cv-container
{
    background-color: #fffdf0;
    box-shadow: 0px 4px 14px -7px;
    margin-top: 5%;
    padding-bottom: 9%;

}
.cv-img
{
    text-align: center;
}
.cv-title
{
    text-align: center;
    padding-top: 5%;  
    margin-left: 3%;

}
.cv-title img
{
    margin-left: 1%;
    margin-top: -7px;
}
.about-container 
{
    margin-right: 6%;
    margin-left: 6%;
}
.about
{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}
.cv_Description
{
    text-align: center;
    font-weight: 400;
    font-size:10px;
    line-height:13.62px;
    color: #6C757D;
}
.cv_Readmore
{
text-align: center;
font-size: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:  #E09A1B;
font-weight: 400;
padding-left: 1%;
padding-top: 1%;
padding-bottom: 2.5%;
}
.title-slider
{
    text-align: center;
}

/* .........................testimonial SLider.............................. */
.testimonial-title h2
{
    color: #343F75;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}
.reviews-description p
{
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    color:#6C757D
}
.testimonial-sub-title h2
{
    color: #54555A;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1opx;
}
.testionial-container
{
    background-color: #fffdf0;
    box-shadow: 0px 4px 14px -7px;
    width: 12vw;
    padding: 2%;
    margin-top: 5%;
}
.image-testimonial{
    text-align: right;
    margin-top: -18%;
    margin-bottom: 28px;
}
.item
{
    padding-top: 4%;
    padding-bottom: 3%;
}
.reviews-description img
{
    width: 100%;
}
.rating_Start1
{
    text-align: left;
}
.carousel-control.left
{
    background-image: none;
}
.carousel-control.right
{
    background-image: none;
}
.reviews-description
{
    margin-bottom: 2%;
}
.right-slider-icon
{
    margin-top: 6em;
    margin-left: -11.6em;
}
.left-slider-icon
{
    margin-top: 6em;
    margin-left: 7.6em;
}
.about-container
{
    box-shadow: 0px 4px 14px -7px;
    padding-bottom: 9%;
  
}
.cv-bg
{
    padding: 15% 24% 0% 24%;
    background: url('../../../assets/T+STAR.png')no-repeat;
    background-size: contain;
}
.cv-img img
{
    margin-top: -11%;
}