<app-header></app-header>
<div class="paymentmethod">
    <div class="container container-bg">
        <div class="group-Title">
            <h1>Title <span style="font-weight: 700;">Here</span></h1>
        </div>
        <div class="row 1strow">
            <div class="col-md-6">
                <div class="form-group ">

                    <div class="input-group">

                        <input class="form-control" id="name" name="name" type="text" placeholder="Enter Your Name" />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">

                    <input class="form-control" id="Address" name="address" type="text"
                        placeholder="  Enter Your Address" />

                </div>
            </div>
        </div>


        <div class="row secondrow">
            <div class="col-md-6">
                <div class="form-group ">

                    <div class="input-group">

                        <input class="form-control" id="City" name="name" type="text"
                            placeholder=" Enter Your City Name" />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">

                    <input class="form-control" id="State" name="address" type="text"
                        placeholder="  Enter Your State Name" />

                </div>
            </div>
        </div>

        <div class="row secondrow">
            <div class="col-md-6">
                <div class="form-group ">

                    <div class="input-group">

                        <input class="form-control" id="Country" name="name" type="text"
                            placeholder=" Enter Your Country Name" />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">

                    <input class="form-control" id="Reciept" name="address" type="text"
                        placeholder="  Enter Your Reciept  ID" />

                </div>
            </div>
        </div>
        <div class="row secondrow">
            <div class="col-md-6">
                <div class="form-group ">

                    <div class="input-group">

                        <input class="form-control" id="Creditcard" name="name" type="text"
                            placeholder=" Enter Your Valid Card Number" />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">

                    <input class="form-control" id="cvc" name="address" type="text"
                        placeholder="  Enter CVC        &nbsp; &nbsp; &nbsp;              I              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;             MM/YY"/>

                </div>
            </div>
        </div>
        <div class="row secondrow">
            <div class="col-md-12">
                <div class="form-group ">

                    <div class="pay_Button">

                        <button>pay</button>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>