<app-tutor-header></app-tutor-header>
<div class="favorite_Tutor">
    <div class="container container-bg">
        <div class="page-Title">
            <h1>Favorite <span style="font-weight: 700;">Tutor</span></h1>
        </div>

        <div class="row tutor-row">

            <div class="col-md-4 col-xs-12 move-right">
                <div class="tutors_Thumbnail">
                    <div class="featured">
                        <h3>FEATURED </h3>
                    </div>

                    <div class="profile_image">
                        <img src="../../assets/thumbnail-1.png">
                    </div>

                    <div class="row after-img">
                        <div class="col-md-12">


                            <div class="Profile_Name">
                                <h2>John <span style="font-weight: 700;">Doe <span class="icon"><img
                                                src="../../assets/verified.png"></span></span></h2>

                                <div class="subject_Name">
                                    <p> Applied Engineering Trainer</p>
                                </div>

                            </div>

                            <div class="row ">

                                <div class="col-md-6">
                                    <div class="price_Class">
                                        <h2>20$ <span
                                                style="font-size: 12px;font-weight: 300;margin-left: -3%;">/hr</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-md-3 flag-row">
                                    <div class="flag">
                                        <img src="../../assets/country-flag.png">
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="heart-checkbox">
                                        <input type="checkbox" id="heart" checked />
                                        <label for="heart">

                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 title-row">
                                <div class="title">
                                    <h1>Title <span style="font-weight: 700;">Here</span></h1>

                                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. ac faucibus erat, sit
                                        amer tempus tortor. nunc vulputate, orci vel
                                        pharetra lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. ac faucibus erat, sit amer tempus
                                        tortor.....<span style="color: #E09A1B;">Read more</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5">
                                <div class="rating_Start">
                                    <img src="../../assets/ratingstar.png"><span style="color: #343F75; font-size: 10px;">5(1)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
        
                                <div class="time">
                                    <img src="../../assets/clock.png"><span style="color: #6C757D; font-size: 10px;">9:00</span>
                                </div>
                            </div>
                            <div class="col-md-4 calendar-row">
                                <div class="calendar">
                                    <img src="../../assets/calendar.png"><span style="color: #6C757D; font-size: 10px;">27th Jan 2023</span>
                                </div>
                            </div>
                            </div>
                    </div>




                   
                    <div class="book_Nowbtn">
                        <button class="Book_now">Book Demo <img class="play-btn-icon"
                                src="../../assets/play-button.png"></button>
                    </div>

                </div>
            </div>


            <div class="col-md-4 col-xs-12 move-right">
                <div class="tutors_Thumbnail">
                    <div class="featured">
                        <h3>FEATURED </h3>
                    </div>

                    <div class="profile_image">
                        <img src="../../assets/thumbnail-3.png">
                    </div>

                    <div class="row after-img">
                        <div class="col-md-12">


                            <div class="Profile_Name">
                                <h2>John <span style="font-weight: 700;">Doe <span class="icon"><img
                                                src="../../assets/verified.png"></span></span></h2>

                                <div class="subject_Name">
                                    <p> Applied Engineering Trainer</p>
                                </div>

                            </div>

                            <div class="row ">

                                <div class="col-md-6">
                                    <div class="price_Class">
                                        <h2>20$ <span
                                                style="font-size: 12px;font-weight: 300;margin-left: -3%;">/hr</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-md-3 flag-row">
                                    <div class="flag">
                                        <img src="../../assets/country-flag.png">
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="heart-checkbox">
                                        <input type="checkbox" id="heart" checked />
                                        <label for="heart">

                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 title-row">
                                <div class="title">
                                    <h1>Title <span style="font-weight: 700;">Here</span></h1>

                                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. ac faucibus erat, sit
                                        amer tempus tortor. nunc vulputate, orci vel
                                        pharetra lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. ac faucibus erat, sit amer tempus
                                        tortor.....<span style="color: #E09A1B;">Read more</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5">
                                <div class="rating_Start">
                                    <img src="../../assets/ratingstar.png"><span style="color: #343F75; font-size: 10px;">5(1)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
        
                                <div class="time">
                                    <img src="../../assets/clock.png"><span style="color: #6C757D; font-size: 10px;">9:00</span>
                                </div>
                            </div>
                            <div class="col-md-4 calendar-row">
                                <div class="calendar">
                                    <img src="../../assets/calendar.png"><span style="color: #6C757D; font-size: 10px;">27th Jan 2023</span>
                                </div>
                            </div>
                            </div>
                    </div>




                   
                    <div class="book_Nowbtn">
                        <button class="Book_now">Book Demo <img class="play-btn-icon"
                                src="../../assets/play-button.png"></button>
                    </div>

                </div>
            </div>



            <div class="col-md-4 col-xs-12 move-right">
                <div class="tutors_Thumbnail">
                    <div class="featured">
                        <h3>FEATURED </h3>
                    </div>

                    <div class="profile_image">
                        <img src="../../assets/thumbnail-5.png">
                    </div>

                    <div class="row after-img">
                        <div class="col-md-12">


                            <div class="Profile_Name">
                                <h2>John <span style="font-weight: 700;">Doe <span class="icon"><img
                                                src="../../assets/verified.png"></span></span></h2>

                                <div class="subject_Name">
                                    <p> Applied Engineering Trainer</p>
                                </div>

                            </div>

                            <div class="row ">

                                <div class="col-md-6">
                                    <div class="price_Class">
                                        <h2>20$ <span
                                                style="font-size: 12px;font-weight: 300;margin-left: -3%;">/hr</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-md-3 flag-row">
                                    <div class="flag">
                                        <img src="../../assets/country-flag.png">
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="heart-checkbox">
                                        <input type="checkbox" id="heart" checked />
                                        <label for="heart">

                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 title-row">
                                <div class="title">
                                    <h1>Title <span style="font-weight: 700;">Here</span></h1>

                                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. ac faucibus erat, sit
                                        amer tempus tortor. nunc vulputate, orci vel
                                        pharetra lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. ac faucibus erat, sit amer tempus
                                        tortor.....<span style="color: #E09A1B;">Read more</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5">
                                <div class="rating_Start">
                                    <img src="../../assets/ratingstar.png"><span style="color: #343F75; font-size: 10px;">5(1)</span>
                                </div>
                            </div>
                            <div class="col-md-3">
        
                                <div class="time">
                                    <img src="../../assets/clock.png"><span style="color: #6C757D; font-size: 10px;">9:00</span>
                                </div>
                            </div>
                            <div class="col-md-4 calendar-row">
                                <div class="calendar">
                                    <img src="../../assets/calendar.png"><span style="color: #6C757D; font-size: 10px;">27th Jan 2023</span>
                                </div>
                            </div>
                            </div>
                    </div>




                   
                    <div class="book_Nowbtn">
                        <button class="Book_now">Book Demo <img class="play-btn-icon"
                                src="../../assets/play-button.png"></button>
                    </div>

                </div>
            </div>
        </div>






    </div>
</div>