
<div class="all-bg">
    <div class="container header-container">
      <div class="row">
        <div class="col-md-3 col-12">
          <img src="../../assets/logo.png" alt="Logo" class="img-fluid-logo">
        </div>
        <div class="col-md-6 col-12">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">How It Works</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Choose Tutors</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Group Classess</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Courses</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-12">
    
       <div class="row signindata">
        <div class="col-md-6 Signin-profileimg">
            <img src="../../assets/Signin-profile.png" alt="Sign In" class="mt-3">
            </div>
            <div class="col-md-6">
    
                <div class="row">
                    <div class="col-md-8 logiProfileColumn">
                        <div class="profilename">
                        <h3>John <strong>Doe</strong></h3>	
                        </div>
                        <div class="profilenameStatus">
                        <p>Student</p>
                            </div>
                    </div>
                    <div class="col-md-4 select-icon">
                    <img src="../../assets/signin_icon.png">
                    </div>
                </div>
    
    
            
              </div>
            </div>
            
      
    
          
        
        </div>
      </div>
    </div>
    <div class="slider-menu-text">
    <div class="container">
    <!-- 	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                
              <div class="carousel-item  active">
                <i class="fa fa-cloud">facbook</i>
              </div>
              <div class="carousel-item ">
                <i class="fa fa-cloud">facbook</i>
              </div>
              <div class="carousel-item ">
                <i class="fa fa-cloud">facbook</i>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->	
          <div class="row">
        <div class="col-md-1 move-icon lefticon">
            <img src="../../assets/arrow-left.png">
        </div>	
        <div class="col-md-10">
            <ul class="nav text-slider-lists">
                 <li class="nav-item slider-lists dashboard">My Dashboard</li>
                <li class="nav-item slider-lists messages">My Messages</li>
                <li class="nav-item slider-lists profile">My Profile</li>
                <li class="nav-item slider-lists favorite">Favorite Teacher</li>
                <li class="nav-item slider-lists Group-teacher">Favorite Group Class</li>
                <li class="nav-item slider-lists course">Favourite Course</li>
              </ul>
        </div>	
        <div class="col-md-1 move-icon righticon">
            <img src="../../assets/arrow-right.png">
        </div>	
        </div>
        
    </div>
    </div>
    </div>
  