<app-tutor-header></app-tutor-header>

<div class="container">

    <div class="row">
        <div class="col-md-4 Categories-container">
            <div class="maintitle">
                <h2>Categories</h2>
            </div>
            <div class="row one-one-classes">

                <table id="dtBasicExample" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th></th>
                            <th></th>
                            <th class="plus-blue-icon"><img src="../../../assets/blue-plus-icon.png"></th>



                        </tr>
                        <tr>

                            <th class="th-sm">Course Name<img src="../../assets/up-down-arrow.png">
                            </th>

                            <th class="th-sm">Activated<img src="../../assets/up-down-arrow.png">
                            </th>

                            <th class="th-sm">Action<img src="../../assets/up-down-arrow.png">
                            </th>

                        </tr>
                    </thead>
                    <tbody class="inner-details">
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>


                    </tbody>

                </table>
            </div>

            <div class="row buttons-row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-3 previousbtn">
                            <button class="pg-previous-btn">Previous</button>
                        </div>
                        <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>

                        <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
                    </div>


                </div>
            </div>



        </div>
        <div class="col-md-4 Categories-container">
            <div class="maintitle">
                <h2>Subjects</h2>
            </div>
            <div class="row one-one-classes">

                <table id="dtBasicExample" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th></th>
                            <th></th>
                            <th class="plus-blue-icon"><img src="../../../assets/blue-plus-icon.png"></th>



                        </tr>
                        <tr>

                            <th class="th-sm">Course Name<img src="../../assets/up-down-arrow.png">
                            </th>

                            <th class="th-sm">Activated<img src="../../assets/up-down-arrow.png">
                            </th>

                            <th class="th-sm">Action<img src="../../assets/up-down-arrow.png">
                            </th>

                        </tr>
                    </thead>
                    <tbody class="inner-details">
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png"><button
                                    class="list-subjects-btn">lists Subjects</button></td>


                        </tr>


                    </tbody>

                </table>
            </div>

            <div class="row buttons-row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-3 previousbtn">
                            <button class="pg-previous-btn">Previous</button>
                        </div>
                        <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>

                        <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
                    </div>


                </div>
            </div>



        </div>
        <div class="col-md-4 Categories-container">
            <div class="maintitle">
                <h2>Topics</h2>
            </div>
            <div class="row one-one-classes">

                <table id="dtBasicExample" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="plus-blue-icon"><img src="../../../assets/blue-plus-icon.png"></th>



                        </tr>
                        <tr>

                            <th class="th-sm">Course Name<img src="../../assets/up-down-arrow.png">
                            </th>
                            <th class="th-sm">Price<img src="../../assets/up-down-arrow.png">
                            </th>
                            <th class="th-sm">Activated<img src="../../assets/up-down-arrow.png">
                            </th>

                            <th class="th-sm">Action<img src="../../assets/up-down-arrow.png">
                            </th>

                        </tr>
                    </thead>
                    <tbody class="inner-details">
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details">$ 90.00</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png">

                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details">$ 90.00</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png">

                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details">$ 90.00</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png">

                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details">$ 90.00</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png">

                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details">$ 90.00</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png">

                        </tr>
                        <tr>


                            <td class="text-details">Marketing</td>
                            <td class="text-details">$ 90.00</td>
                            <td class="text-details "><button class="yes-btn">yes</button></td>
                            <td class="text-details"><img src="../../../assets/edit-eye-actionbtn.png">

                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="row buttons-row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">

           <!--          <div class="row">
                        <div class="col-md-3 previousbtn">
                            <button class="pg-previous-btn">Previous</button>
                        </div>
                        <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>

                        <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
                    </div> -->


                </div>
            </div>

        </div>
    </div>




</div>