.appointment-title h1 {
    color: #343F75;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.appointment_tableTitle
{
    color:#54555A;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.Appointmenttable
{
    margin-left: 25%;
    margin-top: 2%;
    margin-right: 25%;
    background-color: #FFFDF0;
}
.appointmenttitles
{
   
    border-bottom: 1px solid #c4c7c2;
}
.after-Container
{
    padding: 30px;
    box-shadow: 0 4px 14px -7px;
}
.text-details
{
    padding: 2% 2% 0% 2%;
}
.closebtn
{
    text-align: right;
}
.myalllists
{
    box-shadow: 0 4px 14px -7px;
    margin-top: 3%;
    padding: 1% 4% 3% 3%;
    border-radius: 7px;
}
.top-titles
{
    padding: 5%;
}
.appintment-text-details
{
    padding: 2% 2% 0% 2%;
    font-size:10px;
    color:#6C757D;
    font-weight:400;
}
.appointment_tableTitle
{
    padding: 4% 4% 1% 4%;
}
.downs
{
    padding-bottom: 2%;
}
.appintment-text-details .btn1
{
color:#47B5A8;
font-size: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
background-color: #29E97840;
border: none;
width: 80px;
height :18px;
}
.appintment-text-details .btn2
{
color: #E09A1B;
font-size: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
background-color: #E09A1B40;
border: none;
width: 80px;
height :20px;
}
.appintment-text-details .btn3
{
color:#343F75;
font-size: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
background-color: #7DE5FC40;
border: none;
width: 80px;
height :22px;
}
.previousbtn button
{
color: #6C757D;
font-size: 8px;
border: 1px solid #6C757D;
background: transparent;
width:78px;
height:26px;
border-radius: 2px;
font-weight: 600;
}
.nextbtn button
{
font-weight: 600;
color: #E09A1B;
font-size: 8px;
border: none;
background: #F7E4C1;
width:78px;
height:26px;
border-radius: 2px;
}
.myaction
{
    color:#54555A;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 4% 4% 1% 0%;
}
.previousbtn
{
    text-align: right;
}
.btnrow
{
    
    margin-left: 40%;
}
.nextbtn
{
    
    margin-left: 10%;
}