<app-tutor-header></app-tutor-header>
<div class="mainpage-background-image">
<div class="container">
    <div class="row button-Option">
        <div class="col-md-2">


        </div>
        <div class="col-md-2 first-btn"><button class="basic-button">Basic Info</button></div>
        <div class="col-md-2"><button class="basic-button course">Course Goals</button></div>
        <div class="col-md-2"><button class="basic-button course">Lecture Details</button></div>
        <div class="col-md-1"><button class="basic-button">Coupon</button></div>
        <div class="col-md-3"></div>
    </div>

</div>
<div class="container discription-container">
<div class="row">
    <div class="col-md-12">
<div class="title">
    <h2>Title Here</h2>
    <span class="Descriptive-text"><img src="../../../assets/delete-text.png">Description Text</span>
</div>
</div>

</div>
<div class="row after-row-spacing">
    <div class="col-md-11">
        <div class="Description-text">
            <input placeholder="Description here...." type="text" >
        </div>
</div>
<div class="col-md-1">
    <button class="add-btn"><img src="../../../assets/tutor-Plus-white-icon.png">Add</button>
</div>
</div>
<div class="row after-row-spacing">
    <div class="title">
        <h2>Title Here</h2>
        </div>
    <div class="col-md-11">
       
        <div class="Description-text">
            <input placeholder="Description here...." type="text" >
        </div>
</div>
<div class="col-md-1">
    <button class="add-btn"><img src="../../../assets/tutor-Plus-white-icon.png">Add</button>
</div>
</div>
<div class="row after-row-spacing">
    <div class="title">
        <h2>Title Here</h2>
        </div>
    <div class="col-md-11">
        <div class="Description-text">
            <input placeholder="Description here...." type="text" >
        </div>
</div>
<div class="col-md-1">
    <button class="add-btn"><img src="../../../assets/tutor-Plus-white-icon.png">Add</button>
</div>
</div>
<div class="row button-rows">
<div class="col-md-8"></div>
<div class="col-md-2">
    <button class="previous-button"> << Previous  </button>
</div>  
<div class="col-md-2">
    <button class="continue-button">Continue >></button>
</div>   
</div>


</div>
</div>