<app-tutor-header></app-tutor-header>
<div class="lesson-informations">
<div class="containers">
    <div class="page-Title">
        <h1>Payment  <span style="font-weight: 700;">Details</span></h1>
    </div>
    <div class="all-rowss">
        <div class="details-row ">
            <div class="row details-rows row1">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img1" src="../../assets/icon-profile.png"> Tutor Name:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>Jonas Hump</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img2" src="../../assets/class-lesson-category.png"> Type:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <button class="paid-lesson">Booking</button>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img3" src="../../assets/lesson-type-information.png"> Enroll Type:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                   <div class="lesson-title_name">
                        <button class="self-paid-lesson">Self-Paced Courses</button>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img4" src="../../assets/subjectgroupclass-icon.png"> Subject/Group Class/Course:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name-p">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img5" src="../../assets/hash-icon.png"> Code:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>CPSBQ</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img8" src="../../assets/lesson-dollar-symbol.png"> Price:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>$60</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img7" src="../../assets/calendar.png"> Created On:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <p>Nov 12,2022</p>
                    </div>
                </div>
                <div class="row borders-line">
                    <div class="line">
                        <img src="../../assets/lesson-border-bottom.png">
                    </div>
                </div>
            </div>

        </div>
    


        <div class="details-row">
            <div class="row details-rows row2">
                <div class="col-md-3">
                    <div class="lesson-title">
                        <h2><img class="img10" src="../../assets/lesson-status-icon.png">Status:</h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="lesson-title_name">
                        <button class="paid">Completed </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- ...........................File Upload ................ -->
    <div class="Reason-Title">
        <h1>Reason </h1>
    </div>

    <div class="Upload-file-data">
  

        <div class="row">
            <div class="col-md-12 upload-files">
                <textarea class="text-area" placeholder="Enter Your Text Here"></textarea>
             </div>

             <div class="col-md-12 upload-files-btn">
<button>Request </button>
             </div>
            </div>

    </div>



</div>
</div>