<app-header></app-header>

<div class="mainbody">
<div class="container thumbnails-container">
    <div class=" dashboard-container ">
<div class="row">
<div class="col-md-3 col-lg-3 col-sm-12">    
<div class="thumbnail1">
<h3>Webinars</h3>
<p>Lorem ipsum is a placeholder<br>
    text commonly used to <br>
    demonstrate the.</p>
    <span>Know More<i class="fa fa-arrow-right"></i></span>


</div>
</div>
<div class="col-md-3 col-lg-3 col-sm-12">    
    <div class="thumbnail2" routerLink="/favoritegroupclass">
    <h3>Group Class</h3>
    <p>Lorem ipsum is a placeholder<br>
        text commonly used to <br>
        demonstrate the.</p>
        <span>Know More<i class="fa fa-arrow-right"></i></span>
    
    
    </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">    
        <div class="thumbnail3" routerLink="/mycourse">
        <h3>Courses</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">    
            <div class="thumbnail4"  routerLink="/mycourse">
            <h3>Courses Categories</h3>
            <p>Lorem ipsum is a placeholder<br>
                text commonly used to <br>
                demonstrate the.</p>
                <span>Know More<i class="fa fa-arrow-right"></i></span>
            
            
            </div>
            </div>
</div>



    
<div class="row secondrow">
    <div class="col-md-3 col-lg-3 col-sm-12">    

    <div class="thumbnail5">
        <h3>Subjects</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">    
        <div class="thumbnail6 "  routerLink="/favoritetutor">
        <h3>Find a Teacher</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">    
            <div class="thumbnail7"  routerLink="/mylesson">
            <h3>1-on-1-Class</h3>
            <p>Lorem ipsum is a placeholder<br>
                text commonly used to <br>
                demonstrate the.</p>
                <span>Know More<i class="fa fa-arrow-right"></i></span>
            
            
            </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">    
                <div class="thumbnail8" routerLink="/transaction-history">
                <h3>Transaction</h3>
                <p>Lorem ipsum is a placeholder<br>
                    text commonly used to <br>
                    demonstrate the.</p>
                    <span>Know More<i class="fa fa-arrow-right"></i></span>
                
                
                </div>
                </div>
    </div>
        
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12">    
    <div class="thumbnail9" routerLink="/refundrequest">
    <h3>Refund Request</h3>
    <p>Lorem ipsum is a placeholder<br>
        text commonly used to <br>
        demonstrate the.</p>
        <span>Know More<i class="fa fa-arrow-right"></i></span>
    
    
    </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">    </div>
    <div class="col-md-3 col-lg-3 col-sm-12 ">    </div>
    </div>
    </div>
    </div>
    </div>
   