<div class="container">
    <div class="addsectionmanager-Bg">
        <div class="row">
            <div class="col-md-4">
                <div class="manager-Section-Title">
                    <h2>Section for <span style="font-weight: 700;">Course</span></h2>
                </div>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1"><img src="../../../assets/Close-cross.png"></div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <img class="singleline-grey" src="../../../assets/Single-line-Grey.png">
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="Manager-input-title-label">  
                <h3>Title*</h3>
                <input type="text" placeholder="Enter Title" required>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Manager-input-title-Description">  
                <h3>Description</h3>
                <input type="text" placeholder="Enter some text here">
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Manager-input-title-Description">  
                <h3>Ordering</h3>
                <select class="form-select selectoptionicon">
                    <option>Number Here</option>
                </select>
                <p>Order must be greater than or equal to 0!</p>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Manager-video-data-upload">  
                <h3>Video Trial* <span>(Max Size:1024 mb)</span></h3>
               <img src="../../../assets/drop-slectfile-addsection-in-manager.png">
                </div>
                </div>
        </div>

        <div class="row Manager-btn-row">
            <div class="col-md-9 ">

                </div>
                <div class="col-md-1">
                    <div class="Manager-add-section-closebtn">  
                        <button>Close</button>
                    </div>
                                    </div>
                    <div class="col-md-2">
                        <div class="Manager-add-section-submitbtn">  
                            <button>Submit</button>
                        </div>
                        </div>
        </div>
    </div>
</div>