<app-tutor-header></app-tutor-header>
<div class="profile-bg">
	<div class="profilebackgroundimage">
		<div class="container">
			<div class="row signindata">
				<div class="col-md-2 Signin-profileimg">
					<img src="../../assets/Profile.png" alt="Sign In">
				</div>
				<div class="col-md-8 profile-description">

					<div class="hand-icon">
						<img src="../../assets/hy.png">
					</div>


					<div class="profilename">
						<h1>Hello,</h1>
						<h3>John <strong>Doe</strong></h3>
					</div>
					<div class="profilenameStatus">
						<button>Tutor <i class="fa fa-edit"></i></button>
					</div>




				</div>
			</div>
		</div>



	</div>


	<div class="container profile-container-adjust">
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="profile-containers">
			

						<div class="tutorprofilename">
							<div class="row borders-line icon1">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Profile Name:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										{{username}}
									</div>
								</div>
							</div>

							<div class="row borders-line icon2">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Gender:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
									Male
									</div>
								</div>
							</div>
							<div class="row borders-line icon3">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Email:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										bythwaydigital@gmail.com
									</div>
								</div>
							</div>
							<div class="row borders-line icon4">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Phone Number:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
									1234567
									</div>
								</div>
							</div>
							<div class="row borders-line icon5">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Language:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon6">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Address:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon7">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="City:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon8">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="State:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon9">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Zip Code:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										22134
									</div>
								</div>
							</div>
							<div class="row borders-line icon10">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Country:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>

							<div class="row borders-line icon11">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Intro Video(YouTube ID):" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										dFSia1LZI4Y
									</div>
								</div>
							</div>
							<div class="row borders-line icon12">
								<div class="col-md-8">
									<input name="name" type="text"
										placeholder="Slot Duration Default:" disabled />

								</div>

								<div class="col-md-4">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon13">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="PayPal ID:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										John Deo
									</div>
								</div>
							</div>
							<div class="row borders-line icon14">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Timezone:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
									Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon15">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Introduction Video:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon16">
								<div class="col-md-8">
									<input name="name" type="text"
										placeholder="Notifications:" disabled />

								</div>

								<div class="col-md-4">
									<div class="usernames"username>
										<mat-slide-toggle value="warn"></mat-slide-toggle>
										</div>
								</div>
							</div>

						</div>


				
				</div>


				<!-- update password -->
				<div class="profile-container-update">
					<div class="input-group">

						<div class="profile-passsword-update">
							<div class="row">
								<h1>Update <strong style="font-weight: 600;">Password</strong></h1>
								<div class="col-md-8">

									<input class=" form-control" id="name" name="name" type="text"
										placeholder="Enter your Password" />
									<p>Leave blank to keep the current password Update</p>

								</div>

								<div class="col-md-4">
									<div class="updateEmail">
										<button>Update</button>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>


				<!-- update email -->
				<div class="profile-container-update">
					<div class="input-group">

						<div class="profile-email-update">
							<div class="row">
								<h1>Update <strong style="font-weight: 600;">Email</strong></h1>
								<div class="col-md-8">

									<input class=" form-control" id="name" name="name" type="email"
										placeholder="abc@gmail.com" />
									<p>After changing your email, you need to verify it.</p>

								</div>

								<div class="col-md-4">
									<div class="updateEmail">
										<button>Update</button>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

				<div class="profile-container-update">
					<div class="input-group">

						<div class="profile-email-update">
							<div class="row">
								<h1>invite <strong style="font-weight: 600;">Friend</strong></h1>
								<div class="col-md-8">

									<input class=" form-control" id="name" name="name" type="email"
										placeholder="abc@gmail.com" />
									<p>After changing your email, you need to verify it.</p>

								</div>

								<div class="col-md-4">
									<div class="updateEmail">
										<button>Update</button>
									</div>
								</div>
							</div>
							<div class="loginshare">

<img src="../../../assets/sharevia-tutorprofile.png" style="width: 96%; margin-bottom: 2%;">
<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-2"><img src="../../../assets/Vector.png"></div>
<div class="col-md-2"><img src="../../../assets/google.png"></div>
<div class="col-md-2"><img src="../../../assets/Apple.png"></div>
<div class="col-md-3"></div>
</div>

</div>
						</div>

					</div>
				</div>


			</div>
			<div class="col-md-7 col-sm-12 col-xs-12 ">

				<!--Description -->


				<div class="container Description-container">
					<div class="edit-Description">
						<div class="row">
							<div class="col-md-3">
								<div class="edit-Description-heading">
									<h1>
										Description
									</h1>
								</div>
							</div>
							<div class="col-md-9">
								<img class="editicon-description" src="../../../assets/edit-description-icon-tutor.png" routerLink="/EditTutorprofile">
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="description-paragraph">
									<p>The printing and typesetting industry. Lorem Ipsum has been the industry's
										standard text ever since the 1500s and recently<br> with desktop.</p>
								</div>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>

				</div>

				<div class="container gradesDescription-container">
					<div class="edit-Description">
						<div class="row">
							<div class="col-md-5">
								<div class="gradesedit-Description-heading">
									<h1>
										Choose <span style="font-weight: 600;">Grades</span> <img
											class="editicon-description"
											src="../../../assets/edit-description-icon-tutor.png">
									</h1>
								</div>
							</div>

						</div>
					
						<div class="row grades-row">

							<div class="col-md-2">
								<button class="grades-btn">Grade 1</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 2</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 3</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 4</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 5</button>
							</div>

						</div>
						<div class="row grades-row">

							<div class="col-md-2">
								<button class="grades-btn">Grade 6</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 7</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 8</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 9</button>
							</div>
							<div class="col-md-2">
								<button class="grades-btn">Grade 12</button>
							</div>

						</div>
					</div>

				</div>

				<ejs-richtexteditor id="editor-description" *ngIf="false">
					<ng-template #valueTemplate>
						<div class="editable-description">
							<textarea class="editable-textarea" placeholder="300 words only">300 words only</textarea>
						</div>
						<div class="submit-descriptionbtn">
							<button>Submit</button>
						</div>
					</ng-template>
				</ejs-richtexteditor>


				<!-- .....................................................Resume................................ -->
				<div class="container Description-container">
					<div class="edit-Description">
						<div class="row">
							<div class="col-md-12">
								<div class="edit-Description-heading">
									<h1>
										Resume
									</h1>
								</div>


							</div>

						</div>


						<div class="row">
							<div class="col-md-12"><img class="first-btn" src="../../../assets/Education-btn.png"> <img
									class="first-btn" src="../../../assets/Experience-btn.png"> <img
									src="../../../assets/Certification-btn.png"></div>

						</div>
						<div class=" container ">
							<div class="row course-data">
								<div class="col-md-5 resume-table-container">
									<div class="add-cv-data">
										<h2>YYYY - YYYY</h2>
										<h3>Title <span style="font-weight: 600;">Here</span> </h3>

										<div class="verified">
											<h4><img src="../../../assets/verified.png">Verified</h4>
										</div>

										<p>Description here</p>
										<div class="row">
											<div class="col-md-12"><img class="first-btn"
													src="../../../assets/edit-resume-icon.png"> <img class="first-btn"
													src="../../../assets/delete-resume-btn.png"> <img
													src="../../../assets/download-resume-btn.png"></div>

										</div>
									</div>



								</div>
								<div class="col-md-5 resume-table-container">
									<div class="add-cv-data">
										<h2>YYYY - YYYY</h2>
										<h3>Title <span style="font-weight: 600;">Here</span> </h3>

										<div class="verified">
											<h4><img src="../../../assets/verified.png">Verified</h4>
										</div>

										<p>Description here</p>
										<div class="row">
											<div class="col-md-12"><img class="first-btn"
													src="../../../assets/edit-resume-icon.png"> <img class="first-btn"
													src="../../../assets/delete-resume-btn.png"> <img
													src="../../../assets/download-resume-btn.png"></div>

										</div>
									</div>

								</div>
								<div class="col-md-1">
									<img class="blue-plus-icon-img" src="../../../assets/blue-plus-icon.png">
								</div>

							</div>
						</div>
					</div>

				</div>



				<!--Course Certificate -->

				<div class="container Description-container">
					<div class="edit-Description">
						<div class="row">
							<div class="col-md-12">
								<div class="edit-Description-heading">
									<h1>
										Course <strong>Certificates</strong>
									</h1>
								</div>
							</div>

						</div>
						<div class="container table-container">
							<div class="row course-data">
								<table>
									<thead>
										<tr class="tabletitles">
											<th class="titles">Course Title</th>
											<th class="titles">Completion Date</th>
											<th class="titles">View</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="course-title">The printing and typesetting <br>
												industry. Lorem Ipsum has been <br>
												the industry's standard text ever <br>
												since the 1500s and recently with<br>
												desktop</th>
											<td class="course-title">8/3/2022</td>
											<td><img class="eyeimage" src="../../assets/EYE.png" routerLink="/tutorCourseCertificate"></td>


										</tr>
										
									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>


			</div>
		</div>
	</div>
</div>