<app-tutor-header></app-tutor-header>
<div class="lesson-group-class">
  <div class="container">


    <div class="row searching-option">
      <div class="col-md-2">
        <!--       <mat-form-field class="select-background-color">
            <mat-label class="listsdata">Show Entries</mat-label>
            <mat-select class="selectoptionicon">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field> -->
        <select class="form-select selectoptionicon">
          <option class="selectitems">Show Entries</option>
          <option class="selectitems">2</option>
          <option class="selectitems">3</option>
          <option class="selectitems">4</option>
        </select>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <select class="form-select selectoptionicon">
            <option class="selectitems">Show Category</option>
            <option class="selectitems">2</option>
            <option class="selectitems">3</option>
            <option class="selectitems">4</option>
          </select>
      </div>
      <div class="col-md-5 input-searchbar">

        <div class="input-group mb-3">
          <div class="input-group-prepend">

          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
            placeholder="Search Tutor, user, subject">
        </div>
      </div>
      <div class="col-md-1">
        <div class="searchbtn">
          <button><img src="../../../assets/tutor-Plus-white-icon.png">Add Course</button>
        </div>
      </div>
    </div>


    <div class="row one-one-classes" *ngIf="true" >
      <div class="col-md-12">
      </div>
      <table id="dtBasicExample" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Main Page<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Course Name<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Maximum <br> Learners<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Category<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Last Time<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Active<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Created on<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Action<img src="../../assets/up-down-arrow.png">
            </th>
        
          </tr>
        </thead>
        <tbody class="inner-details">
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          <tr>
            <td class="text-details"><img src="../../../assets/tutorgroupclass-mainpage-image.png"></td>
            <td class="text-details">Professional-accredited-chair-yoga-teacher-training-diploma</td>
            <td class="text-details">10</td>
            <td class="text-details">Marketing</td>
            <td class="text-details">Jan 19,2023</td>
            <td class="text-details"><img src="../../../assets/tutorgc-verifiedchecked.png"></td>
            <td class="text-details">Nov 19, 2021</td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
     
          </tr>
          
         
        </tbody>

      </table>
    </div>



    <div class="row buttons-row">
      <div class="col-md-8">
        <div class="entries-details">
          <p>1 to 15 of 430 entries</p>
        </div>
      </div>
      <div class="col-md-4">

        <div class="row">
          <div class="col-md-3 previousbtn">
            <button class="pg-previous-btn">Previous</button>
          </div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">2</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">3</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">4</button></div>
          <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
        </div>


      </div>
    </div>
  </div>
</div>