<app-tutor-header></app-tutor-header>
<div class="lesson-group-class">
    <div class="container ">

        <div class="row searching-option">
            <div class="col-md-2">

                <select class="form-select selectoptionicon">
                    <option class="selectitems">Show Entries</option>
                    <option class="selectitems">1</option>
                    <option class="selectitems">2</option>
                    <option class="selectitems">3</option>
                    <option class="selectitems">4</option>
                    <option class="selectitems">5</option>
                    <option class="selectitems">6</option>
                    <option class="selectitems">7</option>
                    <option class="selectitems">8</option>
                    <option class="selectitems">9</option>
                    <option class="selectitems">10</option>
                </select>

            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-5 input-searchbar">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" placeholder="Search here">
                </div>
            </div>
           <!--  <div class="col-md-1">
                <div class="searchbtn">
                    <button><img src="../../assets/WhiteSearchIcon.png">Search</button>
                </div>
            </div> -->
        </div>


   
        <!-- !.........................End One-one class Lists.......................................  -->




        <div class="row" *ngIf="true">
            <div class="col-md-12">
            </div>
            <table id="dtBasicExample" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Tutor Name<img src="../../assets/up-down-arrow.png">
                        </th>
                        <th class="th-sm coursename">Course Name<img src="../../assets/up-down-arrow.png">
                        </th>
                        <th class="th-sm">Earnings<img src="../../assets/up-down-arrow.png">
                        </th>
                        <th class="th-sm">Price<img src="../../assets/up-down-arrow.png">
                        </th>
                        <th class="th-sm">Created On<img src="../../assets/up-down-arrow.png">
                        </th>
                        <th class="th-sm actions">Action </th>
                    </tr>
                </thead>
                <tbody class="inner-details">
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                    <tr>
                        <td class="text-details ">John Doe</td>
                        <td class="text-details">The Ultimate Guide To Understanding Algebra Master The Fundamentals of Algebra and be ready to pass any test!</td>
                        <td class="text-details">$ 1199</td>
                        <td class="text-details">$ 99.99</td>
                        <td class="text-details">Jan 19,2023</td>
                        <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
                    </tr>
                  


                </tbody>

            </table>
        </div>


        <div class="row buttons-row">
            <div class="col-md-8">
                <div class="entries-details">
                    <p>1 to 15 of 430 entries</p>
                </div>
            </div>
            <div class="col-md-4">

                <div class="row">
                    <div class="col-md-3 previousbtn">
                        <button class="pg-previous-btn">Previous</button>
                    </div>
                    <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>
                    <div class="col-md-1 numberbtn"><button class="pg-first-btn2">2</button></div>
                    <div class="col-md-1 numberbtn"><button class="pg-first-btn2">3</button></div>
                    <div class="col-md-1 numberbtn"><button class="pg-first-btn2">4</button></div>
                    <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
                </div>


            </div>
        </div>
    </div>
</div>