<app-tutor-header></app-tutor-header>

<div class="mainbody">
<div class="container thumbnails-container">
    <div class=" dashboard-container ">
<div class="row">
<div class="col-md-3 col-lg-3 col-sm-12">    
<div class="thumbnail1" routerLink="/Tutorprofile">
<h3>Profile</h3>
<p>Lorem ipsum is a placeholder<br>
    text commonly used to <br>
    demonstrate the.</p>
    <span>Know More<i class="fa fa-arrow-right"></i></span>


</div>
</div>
<div class="col-md-3 col-lg-3 col-sm-12">    
    <div class="thumbnail2" routerLink="/">
    <h3>Invite</h3>
    <p>Lorem ipsum is a placeholder<br>
        text commonly used to <br>
        demonstrate the.</p>
        <span>Know More<i class="fa fa-arrow-right"></i></span>
    
    
    </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">    
        <div class="thumbnail3" routerLink="/Tutorgroupclass">
        <h3>Group Class</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">    
            <div class="thumbnail4"  routerLink="/Addnewgroupclasstutor">
            <h3>Create Group Class</h3>
            <p>Lorem ipsum is a placeholder<br>
                text commonly used to <br>
                demonstrate the.</p>
                <span>Know More<i class="fa fa-arrow-right"></i></span>
            
            
            </div>
            </div>
</div>



    
<div class="row secondrow">
    <div class="col-md-3 col-lg-3 col-sm-12">    

    <div class="thumbnail5"  routerLink="/Mycoursestutor">
        <h3>Courses List</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">    
        <div class="thumbnail6 "  routerLink="/">
        <h3>Create Course</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">    
            <div class="thumbnail7"  routerLink="/">
            <h3>Group Class Booking</h3>
            <p>Lorem ipsum is a placeholder<br>
                text commonly used to <br>
                demonstrate the.</p>
                <span>Know More<i class="fa fa-arrow-right"></i></span>
            
            
            </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">    
                <div class="thumbnail8" routerLink="/TutorpayoutRequest">
                <h3>Payout Request</h3>
                <p>Lorem ipsum is a placeholder<br>
                    text commonly used to <br>
                    demonstrate the.</p>
                    <span>Know More<i class="fa fa-arrow-right"></i></span>
                
                
                </div>
                </div>
    </div>
        
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12">    
    <div class="thumbnail9" routerLink="/">
    <h3>Calender</h3>
    <p>Lorem ipsum is a placeholder<br>
        text commonly used to <br>
        demonstrate the.</p>
        <span>Know More<i class="fa fa-arrow-right"></i></span>
    
    
    </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">     
          <div class="thumbnail10" routerLink="/refundrequest">
        <h3>1-1 Class Booking</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div> </div>
    <div class="col-md-3 col-lg-3 col-sm-12">   
            <div class="thumbnail11" routerLink="/refundrequest">
        <h3>Course Purchased</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div> </div>
    <div class="col-md-3 col-lg-3 col-sm-12 ">   
           <div class="thumbnail12" routerLink="/refundrequest">
        <h3>Earning Dashboard</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>  </div>
    </div>

    <div class="row lastrow">
        <div class="col-md-3 col-lg-3 col-sm-12">    
        <div class="thumbnail13" routerLink="/TutorTransactions">
        <h3>Transactions</h3>
        <p>Lorem ipsum is a placeholder<br>
            text commonly used to <br>
            demonstrate the.</p>
            <span>Know More<i class="fa fa-arrow-right"></i></span>
        
        
        </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-12">   
                <div class="thumbnail14" routerLink="/PayoutrequestCreateAccount">
            <h3>Add Bank Info</h3>
            <p>Lorem ipsum is a placeholder<br>
                text commonly used to <br>
                demonstrate the.</p>
                <span>Know More<i class="fa fa-arrow-right"></i></span>
            
            
            </div> </div>
        <div class="col-md-3 col-lg-3 col-sm-12">   
              <div class="thumbnail15" routerLink="/tutor-message">
            <h3>My Messages</h3>
            <p>Lorem ipsum is a placeholder<br>
                text commonly used to <br>
                demonstrate the.</p>
                <span>Know More<i class="fa fa-arrow-right"></i></span>
            
            
            </div>   </div>
        <div class="col-md-3 col-lg-3 col-sm-12 ">    </div>
        </div>
    </div>
    </div>
    </div>
   