<app-tutor-header></app-tutor-header>
<div class="container">
    <div class="row button-Option">
        <div class="col-md-2">


        </div>
        <div class="col-md-2 first-btn"><button class="basic-button">Basic Info</button></div>
        <div class="col-md-2"><button class="basic-button course">Course Goals</button></div>
        <div class="col-md-2"><button class="basic-button course">Lecture Details</button></div>
        <div class="col-md-1"><button class="basic-button">Coupon</button></div>
        <div class="col-md-3"></div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <div class="first-btn"><button class="add-Sec-Button">Add Section</button></div>
        </div>
    </div>
</div>
<div class="container accordian-container">

    <div class="row firstaccordian">
        <div class="col-md-3">
            <div class="group-Title">
                <h1 class="accordion-button">- Title <span style="font-weight: 700;"> Here</span> </h1>
                <div class="Course-content-Title">

                    <p>2 sections • 6 lectures • 10m13s total length</p>
                    <div class="lectures-btn"><button class="add-Sec-Button"><img src="../../../assets/tutor-Plus-white-icon.png">Add Lectures</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-1 plusimage">
            <img class="edit"src="../../../assets/edit-lecture-details-tutorside.png">
            <img src="../../../assets/delete-lecturedetails-tutorside.png">
        </div>

        <div class="row afteraccordian">
            <div class="col-md-1">
                <img src="../../assets/video-lectures-icon.png">
            </div>
            <div class="col-md-9">
                <div class="video-paragrapgh">
                    <p>No prerequisites. Basic knowledge on fundamentals of contract management would be sufficient.</p>
                </div>
            </div>
            <div class="col-md-1 video-timer">
                <p class="video-timing">15 : 30</p>
            </div>
            <div class="col-md-1 action-image">
                <img class="edit"src="../../../assets/edit-lecture-details-tutorside.png">
            <img src="../../../assets/delete-lecturedetails-tutorside.png">
            </div>


        </div>

        <div class="row afteraccordian">
            <div class="col-md-1">
                <img src="../../assets/video-lectures-icon.png">
            </div>
            <div class="col-md-9">
                <div class="video-paragrapgh">
                    <p>No prerequisites. Basic knowledge on fundamentals of contract management would be sufficient.</p>
                </div>
            </div>
            <div class="col-md-1 video-timer">
                <p class="video-timing">15 : 30</p>
            </div>
            <div class="col-md-1 action-image">
                <img class="edit"src="../../../assets/edit-lecture-details-tutorside.png">
            <img src="../../../assets/delete-lecturedetails-tutorside.png">
            </div>


        </div>


        <div class="row afteraccordian">
            <div class="col-md-1">
                <img src="../../assets/video-lectures-icon.png">
            </div>
            <div class="col-md-9">
                <div class="video-paragrapgh">
                    <p>No prerequisites. Basic knowledge on fundamentals of contract management would be sufficient.</p>
                </div>
            </div>
            <div class="col-md-1 video-timer">
                <p class="video-timing">15 : 30</p>
            </div>
            <div class="col-md-1 action-image">
                <img class="edit"src="../../../assets/edit-lecture-details-tutorside.png">
            <img src="../../../assets/delete-lecturedetails-tutorside.png">
            </div>


        </div>






    </div>

    <div class="row firstaccordian">
        <div class="col-md-3">
            <div class="group-Title">
                <h1 class="accordion-button">- Title <span style="font-weight: 700;"> Here</span> </h1>
                <div class="Course-content-Title">

                    <p>2 sections • 6 lectures • 10m13s total length</p>
                   
                </div>
            </div>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-1 ">
            <img class="edit"src="../../../assets/edit-lecture-details-tutorside.png">
            <img src="../../../assets/delete-lecturedetails-tutorside.png">
        </div>
    </div>
    <div class="row button-rows">
        <div class="col-md-8"></div>
        <div class="col-md-2 Previous">
            <button class="previous-button"> << Previous  </button>
        </div>  
        <div class="col-md-2">
            <button class="continue-button">Continue >></button>
        </div>   
        </div>
</div>