<div class="container">
    <div class="editaddlecturemanager-Bg">
        <div class="row">
            <div class="col-md-4">
                <div class="editmanager-Section-Title">
                    <h2>Add<span style="font-weight: 700;">Lecture</span></h2>
                </div>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1"><img src="../../../assets/Close-cross.png"></div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <img class="singleline-grey" src="../../../assets/Single-line-Grey.png">
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="editlecture-input-title-label">
                    <h3>Title*</h3>
                    <input type="text" placeholder="Learn to develop for the biggest company in the world">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editlecture-input-title-Description">
                    <h3>Description</h3>
                    <textarea type="text"
                        placeholder="Xcode is Apple's FREE software for app development. Xcode is user-friendly and allows you to make complex and creative apps. 

                        Xcode is accessible for beginners who want to make simple apps. Swift 4.0 is the programming language to learn if you want to make apps for Apple products."></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editlecture-input-title-Description">
                    <h3>Ordering</h3>
                    <select class="form-select selectoptionicon">
                        <option>Number Here</option>
                    </select>
                    <p>Order must be greater than or equal to 0!</p>

                    <div class="container">

                        <div class="row ">


                            <div class="row detailslecture">
                                <div class="col-md-3">
                                    <span> <img src="../../../assets/video-circle-icon.png">abc.pdf</span>
                                </div>
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-2 video-timer">
                                    <p class="video-timing">15 : 30</p>
                                </div>
                                <div class="col-md-1 action-image">
                                    <img src="../../../assets/delete-lecturedetails-tutorside.png">
                                </div>


                            </div>
                            <div class="row detailslecture">
                                <div class="col-md-3">
                                    <span> <img src="../../../assets/video-circle-icon.png">abc.mp3</span>
                                </div>
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-2 video-timer">
                                    <p class="video-timing">15 : 30</p>
                                </div>
                                <div class="col-md-1 action-image">
                                    <img src="../../../assets/delete-lecturedetails-tutorside.png">
                                </div>


                            </div>
                            <div class="row detailslecture">
                                <div class="col-md-3">
                                    <span> <img src="../../../assets/video-circle-icon.png">abc.mp4</span>
                                </div>
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-2 video-timer">
                                    <p class="video-timing">15 : 30</p>
                                </div>
                                <div class="col-md-1 action-image">
                                    <img src="../../../assets/delete-lecturedetails-tutorside.png">
                                </div>


                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Manager-video-data-upload">
                    <h3>Video Trial* <span>(Max Size:1024 mb)</span></h3>
                    <img style="padding-bottom: 2%;" src="../../../assets/Youtube-Banner-coursemanager.png">
                    <img src="../../../assets/drop-slectfile-addsection-in-manager.png">
                </div>
            </div>
        </div>

        <div class="row Manager-btn-row">
            <div class="col-md-9 ">

            </div>
            <div class="col-md-1">
                <div class="Manager-add-section-closebtn">
                    <button>Close</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="Manager-add-section-submitbtn">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>