<app-tutor-header></app-tutor-header>
<div class="profile-bg">
	<div class="profilebackgroundimage">
		<div class="container">
			<div class="row signindata">
				<div class="col-md-2 Signin-profileimg">
					<img src="../../assets/Profile.png" alt="Sign In">
				</div>
				<div class="col-md-8 profile-description">

					<div class="hand-icon">
						<img src="../../assets/hy.png">
					</div>


					<div class="profilename">
						<h1>Hello,</h1>
						<h3>John <strong>Doe</strong></h3>
					</div>
					<div class="profilenameStatus">
						<button routerLink="/editstudentprofile">Student <i class="fa fa-edit"></i></button>
					</div>




				</div>
			</div>
		</div>



	</div>


	<div class="container profile-container-adjust">
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="profile-containers">
			

						<div class="tutorprofilename">
							<div class="row borders-line icon1">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Profile Name:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										{{username}}
									</div>
								</div>
							</div>

							<div class="row borders-line icon2">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Gender:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
									Male
									</div>
								</div>
							</div>
							<div class="row borders-line icon3">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Email:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										bythwaydigital@gmail.com
									</div>
								</div>
							</div>
							<div class="row borders-line icon4">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Phone Number:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
									1234567
									</div>
								</div>
							</div>
							<div class="row borders-line icon5">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Language:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
							<div class="row borders-line icon6">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Address:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										Lorim lorem qui om...
									</div>
								</div>
							</div>
				
			
							<div class="row borders-line icon13">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="PayPal ID:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
										John Deo
									</div>
								</div>
							</div>
							<div class="row borders-line icon14">
								<div class="col-md-6">
									<input name="name" type="text"
										placeholder="Timezone:" disabled />

								</div>

								<div class="col-md-6">
									<div class="usernames" username>
									Lorim lorem qui om...
									</div>
								</div>
							</div>
		
							<div class="row borders-line icon16">
								<div class="col-md-8">
									<input name="name" type="text"
										placeholder="Notifications:" disabled />

								</div>

								<div class="col-md-4">
									<div class="usernames"username>
										<mat-slide-toggle value="warn"></mat-slide-toggle>
										</div>
								</div>
							</div>

						</div>


				
				</div>


				<!-- update password -->
				<div class="profile-container-update">
					<div class="input-group">

						<div class="profile-passsword-update">
							<div class="row">
								<h1>Update <strong style="font-weight: 600;">Password</strong></h1>
								<div class="col-md-8">

									<input class=" form-control" id="name" name="name" type="text"
										placeholder="Enter your Password" />
									<p>Leave blank to keep the current password Update</p>

								</div>

								<div class="col-md-4">
									<div class="updateEmail">
										<button>Update</button>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>


				<!-- update email -->
				<div class="profile-container-update">
					<div class="input-group">

						<div class="profile-email-update">
							<div class="row">
								<h1>Update <strong style="font-weight: 600;">Email</strong></h1>
								<div class="col-md-8">

									<input class=" form-control" id="name" name="name" type="email"
										placeholder="abc@gmail.com" />
									<p>After changing your email, you need to verify it.</p>

								</div>

								<div class="col-md-4">
									<div class="updateEmail">
										<button>Update</button>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>


			</div>
			<div class="col-md-7 col-sm-12 col-xs-12 ">

				<!--Description -->


				<div class="container Description-container">
					<div class="edit-Description">
						<div class="row">
							<div class="col-md-3">
								<div class="edit-Description-heading">
									<h1>
										Description
									</h1>
								</div>
							</div>
							<div class="col-md-9">
								<img class="editicon-description" src="../../assets/edit-description.png" routerLink="/editstudentprofile">
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="description-paragraph">
									<p>The printing and typesetting industry. Lorem Ipsum has been the industry's
										standard text ever since the 1500s and recently<br> with desktop.</p>
								</div>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>

				</div>

		
				<ejs-richtexteditor id="editor-description" *ngIf="false">
					<ng-template #valueTemplate>
						<div class="editable-description">
							<textarea class="editable-textarea" placeholder="300 words only">300 words only</textarea>
						</div>
						<div class="submit-descriptionbtn">
							<button>Submit</button>
						</div>
					</ng-template>
				</ejs-richtexteditor>



				<!--Course Certificate -->

				<div class="container Description-container">
					<div class="edit-Description">
						<div class="row">
							<div class="col-md-12">
								<div class="edit-Description-heading">
									<h1>
										Course <strong>Certificates</strong>
									</h1>
								</div>
							</div>

						</div>
						<div class="container table-container">
							<div class="row course-data">
								<table>
									<thead>
										<tr class="tabletitles">
											<th class="titles">Course Title</th>
											<th class="titles">Completion Date</th>
											<th class="titles">View</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="course-title">The printing and typesetting <br>
												industry. Lorem Ipsum has been <br>
												the industry's standard text ever <br>
												since the 1500s and recently with<br>
												desktop</th>
											<td class="course-title">8/3/2022</td>
											<td><img class="eyeimage" src="../../assets/EYE.png" routerLink="/Student-certificate"></td>


										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>
				<div class="diamond-image">
					<img src="../../assets/diamondshapes.png">	
					</div>
					<div class="profile-email-invite">
						<div class="row">
							<h1>Invite <strong style="font-weight: 600;">Friend</strong></h1>
							<div class="col-md-10">
								
								<input class=" form-control" id="name" name="name" type="email" placeholder="abc@gmail.com" />
			
				
							</div>
							
							<div class="col-md-2">
							<div class="updateEmailInvite">
							<button>Invite</button>
													</div>
							</div>	
							</div>
						
					</div>
					   


			</div>
		</div>
	</div>
</div>