<div class="wrapper">
  
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="carousel">

                
<div   class="myitems">
  <img class="imag1" src="../../assets/Dashboard-menu.png">
  <img class="imag2" src="../../assets/Dashboard-hover.png">

</div>
<div   class="myitems">
  <img class="imag1" src="../../assets/my-whole-msg.png">
  <img class="imag2" src="../../assets/my-whole-msg hover.png">

</div>
<div   class="myitems">
  <img class="imag1" src="../../assets/profile-menu.png">
  <img class="imag2" src="../../assets/profile-hover.png">

</div>
<div   class="myitems">
  <img class="imag1" src="../../assets/Favourite-Tutor-menu.png">
  <img class="imag2" src="../../assets/FavouriteTutor-hover.png">

</div>
<div   class="myitems">
  <img class="imag1" src="../../assets/Favourite-Group-Class-menu.png">
  <img class="imag2" src="../../assets/FavouriteGroupClass-hover.png">

</div>
<div   class="myitems">
  <img class="imag1" src="../../assets/Favourite-Course-menu.png">
  <img class="imag2" src="../../assets/FavouriteCourse-hover.png">
</div>
<div   class="myitems">
  <img class="imag1" src="../../assets/request-refund-hover.png">
  <img class="imag2" src="../../assets/request-refund-hover.png">

</div>


          </div>	
          
          </div>
          <div class="col-md-1"></div>
          </div>
          </div>
 
   