<app-header></app-header>
<!-- <div class="container">
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
  <div class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
   <input class="fs-5 fw-semibold" [(ngModel)] ='username' />
  </div>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <div class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true"
    *ngFor="let msg of messages">

      <div class="d-flex w-100 align-items-center justify-content-between"> -->
<!--  <strong class="mb-1">{msg.username}</strong> -->

<!-- </div> -->
<!-- div class="col-10 mb-1 small">{{msg.message}}</div> -->
<!--    </div>
 
</div>
   </div>
   <form (submit)="submit()">
    <input class="form-control" placeholder="Write A Messgae" [(ngModel)]="message"/>
    </form>

   </div> -->


<div class="container">
<div class="row">
  <div class="col-md-4">
  <div class="chat-list mat-elevation-z5">
    <div class="search-input">

      <!--    <input 
      matInput 
      placeholder="Search for user..." 
       [formControl]="searchControl"
       /> -->
      <form>
        <div class="row">
          <div class="col-md-10">
            <input class="input-search" type="search" placeholder="Search here...">
          </div>
          <div class="col-md-2">
            <img class="search-image" src="../../../assets/search.png">
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="chat-container">




                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>

                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>
                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>
                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>
                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>
                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>
                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>


                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>



                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>



                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>



                <div class="chat">
                  <div class="row">
                    <div class="col-md-2">
                      <img class="profile-image" src="../../../assets/chat_profile.png" />
                    </div>
                    <div class="col-md-8 chat-lists">

                      <div class="sender">Ella</div>
                      <div class="message">Hello doe, Lorem ipsum....</div>
                    </div>

                    <div class="col-md-2 chat-lists">
                      <div class="time">1 min ago</div>
                      <div class="Remaining-msg">
                        <img src="../../../assets/seven.png" />

                      </div>
                    </div>

                  </div>
                </div>


              </div>



        


            </div>


          </div>
        </div>

      </form>

    </div>
  </div>
</div>
  <div class="col-md-8">
  <div class="message-list mat-elevation-z5">

    <div class="chat message-chat">
      <div class="row">
        <div class="col-md-1">
          <img class="profile-chatlist-image" src="../../../assets/chat_profile.png" />
        </div>
        <div class="col-md-10 chat-lists">

          <div class="Person">John <span style="font-weight: 700;">Doe</span></div>
          
        </div>

      

      </div>


    </div>

    <div class="row current-day-container">
      <div class="col-md-5 chat-lists">
        <img class="lineimage" src="../../../assets/single-line.png" />
      </div>
      <div class="col-md-2 chat-lists">

        <div class="current-day-message">Today</div>
        
      </div>
      <div class="col-md-5 chat-lists">
        <img class="lineimage2" src="../../../assets/single-line.png" />
      </div>

    

    </div>

<div class="container">
    <div class="row reciever">
      <div class="col-md-1">
        <img class="profile-reciever-chatlist-image" src="../../../assets/chat_profile.png" />
      </div>
      <div class="col-md-6 chat-lists-messages">
<div class="reciever-message-container">
        <div class="Person-message">Hi sir ! The course about Microsoft azure was very good.</div>
        <div class="person-message-time-date">3/10/2023 10:09AM</div>
        </div>
      </div>

    </div>


    <div class="row sender-person">
      <div class="col-md-6">
      </div>
     
      <div class="col-md-6 chat-lists-messages">
<div class="reciever-message-container">
        <div class="Person-message-sender">Thank you Pranv ,please join with me for other courses also Thank you Pranv ,please join with me for other courses also</div>
        <div class="person-message-sender-time-date">3/10/2023 10:09AM</div>
        </div>
      </div>

    </div>



    <div class="row reciever">
      <div class="col-md-1">
        <img class="profile-reciever-chatlist-image" src="../../../assets/chat_profile.png" />
      </div>
      <div class="col-md-6 chat-lists-messages">
<div class="reciever-message-container">
        <div class="Person-message">Hi sir ! The course about Microsoft azure was very good.</div>
        <div class="person-message-time-date">3/10/2023 10:09AM</div>
        </div>
      </div>

    </div>


    <div class="row sender-person">
      <div class="col-md-6">
      </div>
     
      <div class="col-md-6 chat-lists-messages">
<div class="reciever-message-container">
        <div class="Person-message-sender">Thank you Pranv ,please join with me for other courses also Thank you Pranv ,please join with me for other courses also</div>
        <div class="person-message-sender-time-date">3/10/2023 10:09AM</div>
        </div>
      </div>

    </div>


    
    <div class="row reciever">
      <div class="col-md-1">
        <img class="profile-reciever-chatlist-image" src="../../../assets/chat_profile.png" />
      </div>
      <div class="col-md-6 chat-lists-messages">
<div class="reciever-message-container">
        <div class="Person-message">Hi sir ! The course about Microsoft azure was very good.</div>
        <div class="person-message-time-date">3/10/2023 10:09AM</div>
        </div>
      </div>

    </div>

    <div class="row sender-person">
      <div class="col-md-6">
      </div>
     
      <div class="col-md-6 chat-lists-messages">
<div class="reciever-message-container">
        <div class="Person-message-sender">Thank you Pranv ,please join with me for other courses also Thank you Pranv ,please join with me for other courses also</div>
        <div class="person-message-sender-time-date">3/10/2023 10:09AM</div>
        </div>
      </div>

    </div>






</div>
<div class="sent-message-container">
  <div class="container">
    <div class="row sent-person">
      <div class="col-md-10">
        <textarea type="text" class="message-text" placeholder="Type a message"></textarea>
      </div>
      <div class="col-md-2 submitbtn-icon">
        <img src="../../../assets/Submit-btn-icon.png" />
      </div>
      </div>
  </div>
  
  </div>
  
    </div>
    </div>
    </div>

</div>