<div class="main-forgotpassword-container">
<div class="fluid-container">
  <div class="row signinheight">
    <div class="col-md-4 signinleft">
    </div>
    <div class="col-md-8 col-sm-12 signin">
      <div class="container">
      <div class="signinTitle">

        <h1>Reset <strong>Password</strong></h1>
      </div>
      <p class="title-aftersignin"style="color:#6C757D;font-size:16px;font-weight:400;">Please enter your email to reset the password</p>
      <form>
    

        <div class="form-group ">
         
          <div class="input-group">
           
           <input class="form-control"[(ngModel)]=Email id="name" name="name" type="email" placeholder="Enter your Email"/>
          
          </div>

        
        
          <button class="signinBtn"(click)="sendResetEmail()">Submit</button>
         </div>
        

     
        

      </form>
    </div>
    </div>
  </div>

</div>
</div>

