<div class="container">
    <div class="addmytopicpopup-bg">
        <div class="row">
            <div class="col-md-4">
                <div class="manager-mytopic-Title">
                    <h2>My <span style="font-weight: 700;">Topic</span></h2>
                </div>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1"><img src="../../../assets/close-page-icon.png"></div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <img class="singleline-grey" src="../../../assets/Single-line-Grey.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="manager-mytopic-selecttitle">  
                <h3>Select Topic</h3>
                <select class="form-select selectoptionicon">
                    <option>Choose Topic</option>
                </select>
               
                </div>
                </div>
        </div>
   
        <div class="row">
            <div class="col-md-12">
                <div class="manager-mytopic-selecttitle">  
                <h3>Price</h3>
                <select class="form-select selectoptionicon">
                    <option>90</option>
                </select>
               
                </div>
                </div>
        </div>
   

        <div class="row mytpoicpopup-btn-row">
            <div class="col-md-9 ">

                </div>
                <div class="col-md-1">
                    <div class="Manager-add-section-closebtn">  
                        <button>Close</button>
                    </div>
                                    </div>
                    <div class="col-md-2">
                        <div class="Manager-add-section-submitbtn">  
                            <button>Submit</button>
                        </div>
                        </div>
        </div>
    </div>
</div>