<app-tutor-header></app-tutor-header>
<div class="group-class-bg">


  <!-- ...................................Details ................................................ -->
  <div class="container">

    <h2 class="managertitle">Request Manager Account</h2>
    <div class="row all-slots-row">

      <div class="col-md-8   column-left">
        <div class="row">
          <div class="col-md-12 title-description-container ">
            <div class="group-Title">
              <h1>All the end of my course, <span style="font-weight: 700;">students will be able
                  to</span></h1>
            </div>

            <div class="lists">
              <ul>
                <li><img src="../../assets/verified-green-checked.png"></li>
                <li class="afterliststext">Make a career change to managing contracts and subcontracts
                </li>


              </ul>

            </div>

          </div>

          <div class="col-md-12 title-description-container ">
            <div class="group-Title">
              <h1>Who should take this course?, <span style="font-weight: 700;"> Who should not?</span>
              </h1>
            </div>

            <div class="lists">
              <ul>
                <li><img src="../../assets/verified-green-checked.png"></li>
                <li class="afterliststext" style="line-height: 15px;">No prerequisites. Basic knowledge
                  on fundamentals of <br> contract management would be sufficient.</li>


              </ul>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 column-right">
        <div class="row">
          <div class="col-md-12 title-description-container-right ">
            <div class="row spacingunder-row">
              <div class="col-md-8">
                <span class="earnings"><img src="../../../assets/tutortotalerning-icon.png">Total
                  Earnings</span>
              </div>
              <div class="col-md-4">
                <div class="price">
                  <h2>50$</h2>


                </div>
              </div>
            </div>
            <div class="row spacingunder-row">
              <div class="col-md-8">
                <span class="earnings"><img src="../../../assets/commisionsite-icon.png">Commission to
                  the Site:</span>
              </div>
              <div class="col-md-4">
                <div class="price">
                  <h2>71$</h2>


                </div>
              </div>
            </div>

            <div class="row spacingunder-row">
              <div class="col-md-8">
                <span class="earnings"><img src="../../../assets/tutortotalerning-icon.png">Tutor
                  Earnings:</span>
              </div>
              <div class="col-md-4">
                <div class="price">
                  <h2>287$</h2>


                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-md-12">
                <p class="after-earning-paragraph">Earnings will be accumulated after 3 days of the
                  class completion to avoid refunds from students after the class is completed.
                  Earnings will be accumulated after 3 days of the class completion to avoid refunds
                  from students after the class is completed.
                  <br><br>
                  Earnings will be accumulated after 3 days of the class completion to avoid refunds
                  from students after the class is completed.
                </p>
              </div>

            </div>




          </div>

        </div>
      </div>
    </div>


  </div>

  <!-- ....................second section..................... -->
  <div class="container">
    <div class="row">


      <div class="col-md-12 title-description-containers ">
        <!--      <input type="text" matInput
        ngxDaterangepickerMd
        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
        startKey="start"
        endKey="end"
        [(ngModel)]="selected"
        name="daterange"/> -->

        <div class="row buttons-row">
          <div class="col-md-2">
            <div class="searchbtn">
              <button><img src="../../../assets/payout-calendar-icon.png">Select Date</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="stats-btn">
              <button><img src="../../../assets/payout-calendar-icon.png">Stats By Date Range</button>
            </div>
          </div>

          <div class="col-md-1">

          </div>
          <div class="col-md-3">
            <div class="send-btn">
              <button><img src="../../../assets/send-payout-request-icon.png">Send Request</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="add-btn">
              <button><img src="../../../assets/tutor-Plus-white-icon.png">Add a Bank Account</button>
            </div>
          </div>

        </div>
<div class="container under-container">
        <div clas="row ">
          
          <div class="col-md-6">
<div class="pendingtitle">Pending</div>

<div class="row details-payments">
<div class="col-md-1 dollar-icon" ><img src="../../../assets/payout-request-icon-grey.png"></div>
<div class="col-md-6" >
  <div class="payment-details">
  <p>Commission: $ 359</p>  
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-1 dollar-icon" ><img src="../../../assets/money-price-budget-revenue.png"></div>
  <div class="col-md-6" >
    <div class="payment-details">
    <p>Tutor Balance: $ 359</p>  
    </div>
  </div>
  </div>
  

          </div>
          <div class="col-md-6">
            <div class="pendingtitle">Approved</div>
            <div class="row details-payments">
              <div class="col-md-1 dollar-icon" ><img src="../../../assets/payout-request-icon-grey.png"></div>
              <div class="col-md-6" >
                <div class="payment-details">
                <p>Commission: $ 359</p>  
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-1 dollar-icon" ><img src="../../../assets/money-price-budget-revenue.png"></div>
                <div class="col-md-6" >
                  <div class="payment-details">
                  <p>Tutor Balance: $ 359</p>  
                  </div>
                </div>
                </div>
                
          </div>
        </div>
</div>

      </div>
    </div>
  </div>


  <!-- ....................Third section..................... -->

  <div class="container">
    <div class="row">


      <div class="col-md-12 title-description-containers ">
 
        <div class="row buttons-row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-1 dollar-icon" ><img src="../../../assets/money-price-budget-revenue.png"></div>
              <div class="col-md-6" >
                <div class="second-payment-details">
                <p>Tutor Balance: $ 359</p>  
                </div>
              </div>
              </div>
              
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-1 dollar-icon" ><img src="../../../assets/money-price-budget-revenue.png"></div>
              <div class="col-md-6" >
                <div class="second-payment-details">
                <p>Tutor Balance: $ 359</p>  
                </div>
              </div>
              </div>
              
          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-1 dollar-icon" ><img src="../../../assets/money-price-budget-revenue.png"></div>
              <div class="col-md-6" >
                <div class="second-payment-details">
                <p>Tutor Balance: $ 359</p>  
                </div>
              </div>
              </div>
              
          </div>
   
        </div>
<div class="row">
  <div class="col-md-12">
  <select class="form-select selectoptionicon">
    <option class="selectitems">Select Accounts</option>
    <option class="selectitems">2</option>
    <option class="selectitems">3</option>
    <option class="selectitems">4</option>
  </select>
  <div class="submit-btn">
  <button>Submit</button>  
  </div>
  </div>
  </div>
      </div>
    </div>
  </div>



  <!--.................................................Request Manager Account.............................................-->
  <div class="container requestmanagersection">
    <div class="row one-one-classes" *ngIf="true">
      <div class="col-md-12">
        <div class="main-manager_title">Request <span style="font-weight: 700;"> Manager Account</span></div>
      </div>
      <table id="dtBasicExample" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Date<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Amount<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Commission<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Tutor balance<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Status<img src="../../assets/up-down-arrow.png">
            </th>

          </tr>
        </thead>
        <tbody class="inner-details">
          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>
          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>

          <tr>
            <td class="text-details profileicon">19/08/2021</td>
            <td class="text-details">$ 199.99</td>
            <td class="text-details">$ 25</td>
            <td class="text-details">$ 99</td>
            <td class="text-details"><button disabled>Approved</button></td>

          </tr>



        </tbody>

      </table>
    </div>
    <div class="row buttons-row">
      <div class="col-md-8">
        <div class="entries-details">
          <p>1 to 15 of 430 entries</p>
        </div>
      </div>
      <div class="col-md-4">

        <div class="row"><div class="col-md-5"></div>
          <div class="col-md-3 previousbtn">
            <button class="pg-previous-btn">Previous</button>
          </div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>
          <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
        </div>


      </div>
    </div>
  </div>


</div>