<app-tutor-header></app-tutor-header>
<div class="lesson-group-class">
  <div class="container">

    <div class="row">
      <div class="lesson_Option">
        <div class="col-md-6 button_Padding">
          <button class="on-live"><img src="../../assets/one-one-lesson-grey.png">One on One Class</button>
          <button class="on-hover"><img src="../../assets/one-one-class-white.png">One on One Class</button>
        </div>
        <div class="col-md-6 button_Padding">
          <button class="on-live groupclass_btn"><img src="../../assets/fav-group-class.png">Group Class</button>
          <button class="on-hover groupclass_btn"><img src="../../assets/group-class-white.png">Group
            Class</button>
        </div>
      </div>
    </div>



    <div class="row searching-option">
      <div class="col-md-2">
        <!--       <mat-form-field class="select-background-color">
            <mat-label class="listsdata">Show Entries</mat-label>
            <mat-select class="selectoptionicon">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field> -->
        <select class="form-select selectoptionicon">
          <option class="selectitems">Show Entries</option>
          <option class="selectitems">2</option>
          <option class="selectitems">3</option>
          <option class="selectitems">4</option>
        </select>

      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-5 input-searchbar">

        <div class="input-group mb-3">
          <div class="input-group-prepend">

          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
            placeholder="Search Tutor, user, subject">
        </div>
      </div>
      <div class="col-md-1">
        <div class="searchbtn">
          <button><img src="../../assets/WhiteSearchIcon.png">Search</button>
        </div>
      </div>
    </div>


    <div class="row one-one-classes" *ngIf="true" >
      <div class="col-md-12">
      </div>
      <table id="dtBasicExample" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Tutor Name<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Subject/Group Class<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Enroll Type<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Lesson Type<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Paid<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Start Time<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">To Time<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Created On<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Status<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Action <img src="../../assets/up-down-arrow.png"> </th>
          </tr>
        </thead>
        <tbody class="inner-details">
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details-inprogress"><button disabled>In Progress</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details-pending"><button disabled>Pending</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">Digital Marketing</td>
            <td class="text-details">Subject</td>
            <td class="text-details">Paid Lesson</td>
            <td class="text-details"><button disabled>Yes</button></td>
            <td class="text-details">19/08/2021,<br> 07:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details">19/08/2021,<br> 08:30AM</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
        </tbody>

      </table>
    </div>

    <!-- !.........................End One-one class Lists.......................................  -->




    <div class="row" *ngIf="false" click="grouplesson()">
      <div class="col-md-12">
      </div>
      <table id="dtBasicExample" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Tutor Name<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Subject/Group Class<img src="../../assets/up-down-arrow.png">
            </th>

            <th class="th-sm">Created On<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Status<img src="../../assets/up-down-arrow.png">
            </th>
            <th class="th-sm">Action <img src="../../assets/up-down-arrow.png"> </th>
          </tr>
        </thead>
        <tbody class="inner-details">
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>


          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details-inprogress"><button disabled>In Progress</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details-pending"><button disabled>Pending</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>
          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>

          <tr>
            <td class="text-details profileicon"><img src="../../assets/icon-profile.png">John Doe</td>
            <td class="text-details">The Complete iOS 12 & Swift Developer Course - Build 28 Apps Use Xcode 10</td>
            <td class="text-details">19/08/2021</td>
            <td class="text-details"><button disabled>Completed</button></td>
            <td class="text-details"><img src="../../assets/eye-table-icon.png"></td>
          </tr>


        </tbody>

      </table>
    </div>


    <div class="row buttons-row">
      <div class="col-md-8">
        <div class="entries-details">
          <p>1 to 15 of 430 entries</p>
        </div>
      </div>
      <div class="col-md-4">

        <div class="row">
          <div class="col-md-3 previousbtn">
            <button class="pg-previous-btn">Previous</button>
          </div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn">1</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">2</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">3</button></div>
          <div class="col-md-1 numberbtn"><button class="pg-first-btn2">4</button></div>
          <div class="col-md-3 "> <button class="pg-next-btn">Next</button></div>
        </div>


      </div>
    </div>
  </div>
</div>